p {
  font-weight: 500;
  color: #fff;
}
.row {
  align-items: center;
}
h1,
h2 {
  color: #fff;
  font-weight: 600;
  z-index: 20;
  position: relative;
}
h1 {
  text-align: center;
}
.hero-section {
  min-height: 100vh;
  position: relative;
  padding: 0;
  overflow-y: visible;
  .heading {
    h1 {
      font-size: 5.5rem;
      letter-spacing: -0.3rem;
      position: relative;
      z-index: 10;
      font-weight: 500;
      color: #fff;
      text-align: left;
    }

    h3 {
      color: #fff;
      z-index: 20;
      position: relative;
    }
    p {
      margin: 2rem 0;
      width: 95%;
      position: relative;
      z-index: 10;
      color: #fff;
    }
  }
  .hero-img {
    width: 100%;
    position: relative;
    z-index: 4;
  }
}

h1 {
  margin: 25px auto;
  text-align: center;
}
h2 {
  margin: 30px 0;
}
.cover-photo {
  background: linear-gradient(
      180deg,
      rgba(0, 30, 199, 0.88) 20%,
      rgba(13, 0, 212, 0.94) 100%
    ),
    url(/assets/img/landing/about-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media screen and (max-width: 991px) {
  .hero-section {
    text-align: center;
    .hero-img {
      width: 75%;
    }
    .heading {
      h1 {
        text-align: center;
        font-size: 4rem;
        letter-spacing: -0.25rem;
      }
    }
    h2 {
      text-align: center;
    }
  }
}



@media all and (max-width: 360px) {
  .hero-section {
    .heading h1 {
      font-size: 3rem !important;
      letter-spacing: -0.2rem;
    }

    img {
      margin-top: 12vh;
      width: 90% !important;
    }
  }
}
@media all and (max-width: 320px) {
  .hero-section {
    .heading h1 {
      font-size: 2.5rem !important;
      letter-spacing: -0.15rem;
    }

    img {
      margin-top: 15vh;
    }
  }
}
