@import '../../job-portal/job-portal.component.scss';
@import '../../dashboard-style.scss';


  
  .jus-center{justify-content: center;}
  .ow-head{
    color: rgba(0, 0, 0, 0.23);
    border: none;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: -0.1rem;
    text-align: center;
  }
  .platform-wrap{
    margin: 5rem 0;
  }
  .sub-head{
    color: #000;
    margin-bottom: 1.5rem;
    text-align: center;
  }
 
  .platform-card{
    padding: 0.5rem 1rem;
      /* box-shadow: 8px 8px 17px -2px rgba(0, 0, 0, 0.12); */
      margin-bottom: 1.5rem;
      border-radius: 15px;
      border: 1.5px solid transparent;
      box-shadow: 1px 1px 14px -1px #e4e5e662;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      -webkit-animation: up forwards ease-out 0.5s;
      animation: up forwards ease-out 0.5s;
      transition: 0.3s ease-in-out all;
  
      img{
        max-width: 70px;
      margin: 2rem;
      }
  
    p{
      font-size: 18px;
      font-weight: 600;
      text-align: center;
      letter-spacing: -1px;
    }
  }
  .platform-card:hover {
    background: #fff;
    border-color: #428dfe;
  }
  
  @keyframes up {
    0%{
      opacity: 0;
      transform: translateY(10px);
    }
    100%{
      opacity: 1;
      transform: translateY(0px);
    }
  }
  

  