
<div
class="dashboard-content-wrapper dash-tab"
>
  <div class="platforms" >
    <h1 class="ow-head">
      OneWater Digital Platform
    </h1>
    <!-- <h2>
      Access all our platforms from one place.
    </h2> -->
    <div class="platform-wrap">
      <h2 class="sub-head">
        Home
      </h2>
      <div class="row justify-content-center" >
        <div class="col-md-3">
          <a href="https://onewater-tenant-2.auth0.com/samlp/i09kw2Zf1AT6Wvj3rdVTGp69LQ1JEUo6" target="_blank">
          <div class="platform-card">
                <img src="assets/img/icons/laptop.svg" alt="">
                <p>
                  OneWater Academy
                </p>
              </div>
          </a>
      </div>
          <div class="col-md-3">
          <a href="https://onewater-tenant-2.auth0.com/samlp/Jqztax9x4GI4nU25D3z7HyMnqDx7me3t" target="_blank">
          <div class="platform-card">
                <img src="assets/img/icons/mentor.svg" alt="">
                <p>
                 OWXchange
                </p>
              </div>
            </a>
        </div>
      </div>
        <div class="row justify-content-center" >
        <div class="col-md-3">
           <a [routerLink]="['/onewaterblog']">
          <div class="platform-card">
  
                <img src="assets/img/icons/blog.svg" alt="">
  
                <p>
                  OneWater Blog
                </p>
              </div>
            </a>
        </div>
  
    <div class="col-md-3">
      <a [routerLink]="['/onevideo']">
      <div class="platform-card">
  
            <img src="assets/img/icons/video.svg" alt="">
  
  
            <p>
              O-Wow
            </p>
            </div>
        </a>
    </div>
  
  
      </div>
    </div>
   
      </div>
</div>