/*header styles*/
header{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 3vw;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    z-index: 5000;
}

.logo{
    img{
        width: 90px;
        filter: invert(1) brightness(10);
    }
}

.menu {
    .navlink{
        display: inline-block;
        margin:0 12px;
        a{
            color: #fff;
            font-weight: 500;
            transition: all 0.2s ease-in-out;
            position: relative;
        }
        a::after{
            content: "";
            height: 1.5px;
            background-color: #fff;
            position: absolute;
            bottom: -4px;
            width: 0;
            left: 0;
            transition: all .3s;
            display: block;
        }
        a:hover::after{
            width:100%;
        }
    }
}

.fixed-header{
    background-color: #fff;
}
