<!-- BEGIN Blog Post -->
<div
  class="cover-photo"
>
  <div class="gradient-image"></div>
  <div class="wave"></div>
</div>
<div class="blog-post-wrapper">
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class=" post-top">
        <h1>
          {{blog?.title}}
        </h1>

        <img src="blog?.image" alt="">
        <div class="article-meta">
          <img src="{{mayor?.image}}" alt="Author" />
          <div class="meta-data">
            <span class="meta-author"
              >By
              <a [routerLink]="['/onewaterblog/mayorprofile/',mayor._id]">{{mayor?.name}}</a></span
            ><br />
            <span class="meta-date"
              >  {{mayor?.bio}}</span
            >
          </div>
        </div>

        <p class="teaser top-teaser">
          <strong>Category</strong> :
          <span> {{blog.category}}  </span>
          <span> {{blog.sub_category}} </span>
        </p>
        <div class="di"[innerHtml]="blog?.desc"></div>
        <div class="blog-options">
          <div class="like-btn" *ngIf="!liked">
            <h6>Like :</h6>
            <a (click)="likeblog()">
              <i class="fa fa-heart" aria-hidden="true"></i>
            </a>
            <span>liked!</span>
          </div>
          <div class="like-btn" *ngIf="liked">
            <h6>Liked</h6>
            <a class="press">
              <i class="fa fa-heart" aria-hidden="true"></i>
            </a>
            <span>liked!</span>
          </div>
          <div class="share-btn">
            <h6>Share on :</h6>
            <button><fb-like url="{{ url }}"></fb-like></button>
            <button><tweet url="{{ url }}" text="{{ url }}"></tweet></button>
            <button><linkedin-share url="{{ url }}"></linkedin-share></button>
          </div>
        </div>

        <div class="meta-bio author-box">
          <a [routerLink]="['/onewaterblog/mayorprofile/',mayor._id]">
            <img src="{{mayor?.image}}" alt="" />
          </a>
          <div class="bio-text">
            <p class="bio-shl">{{mayor?.name}}</p>
            <p class="bio-hl">
              <a [routerLink]="['/onewaterblog/mayorprofile/',mayor._id]">Mayor</a>
            </p>
            <p>{{mayor?.bio}}</p>
          </div>
        </div>
      </div>

      <div class="related-blogs">
        <h2>More From The Mayor</h2>
        <owl-carousel
          [items]="mayorblogs"
          [options]="carouselOptions"
          [carouselClasses]="['owl-theme', 'row', 'sliding']"
        >
        <div class="item" *ngFor="let blog of mayorblogs">
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
              <img src="{{ blog?.image }}" alt="" />
              <div class="blog-caption">
                <a [routerLink]="['/onewaterblog/mayor-blogpost', blog?._id]">
                  <h5>{{ blog.title }}..</h5>
                </a>
                <div class="blog-meta-data">
                  <div class="author">By {{ blog?.mayor_name | titlecase }}</div>
                  <div class="likes" *ngIf="blog?.likecount">
                    <i class="fa fa-heart"></i>
                    <span
                      >{{ blog?.likecount }} likes</span
                    >
                  </div>
                  <div class="read">
                    {{ blog?.read_time }}  mins read
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </owl-carousel>
      </div>
    </div>

  </div>
</div>
</div>
