<footer class="footer">
  <div class="container">
      <div class="row">

          <div class="col-md-12 col-lg-3">
              <img src="/assets/img/ow-logo1.png" alt="one-water-logo" class="one-water-logo"/>
              <div class="social-links">
               
                  <a href="https://twitter.com/onewateracademy" target="_blank">   <i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a href="https://www.linkedin.com/company/onewateracademy" target="_blank">   <i class="fa fa-linkedin" aria-hidden="true"></i></a>
                  <a href="https://www.facebook.com/onewateracademy/" target="_blank">   <i class="fa fa-facebook" aria-hidden="true"></i></a>
              </div>
          </div>
          <div class="col-md-4 col-lg-3 col-sm-12">

              <div class="site-links">
                 <!-- <h4 class="footer-head"></h4> -->
                  <ul>
                        <li><a routerLink="/home">home</a></li>
                      <li><a routerLink="/home/about">about us</a></li>
                      <li><a routerLink="/home/team">our team</a></li>
                      <li><a routerLink="/home/mission">our mission</a></li>
                      <li><a routerLink="/home/vision">our vision</a></li>
                      <li><a routerLink="/home/donate">Donate to OneWater</a></li>

                  </ul>
              </div>

          </div>
          <div class="col-md-4 col-lg-3 col-sm-12">
             <div class="contact">
                 <ul>
                     <li>
                         <h6><i class="fa fa-map-marker" aria-hidden="true"></i>Address</h6>
                         <a>10218 Feaga Farm Ct. Ellicott City, MD 21042, USA
                         </a>
                     </li>
                    
                        <li>
                                <h6><i class="fa fa-envelope" aria-hidden="true"></i>Email</h6>
                                <a >info@onewateracademy.org
                                </a>
                            </li>
                 </ul>
             </div>
          </div>
          <div class="col-md-4 col-lg-3 col-sm-12">
            <div class="contact">
                <ul>
                           <li>
                               <h6><i class="fa fa-phone" aria-hidden="true"></i>Phone</h6>
                               <a class="phone-links">
                                  <span>Toll free:</span>  (855) 212-8182
                               </a>
                               <a class="phone-links">
                                   <span>Maryland office:</span>  (443) 241-6336
                                </a>
                                <a class="phone-links">
                                  <span>Miami office:</span>  (305) 901-4344
                                </a>
                           </li>
                </ul>
            </div>
         </div>
      </div>
      <div class="footer-text">
          <p>
            OneWater for one world.
          </p>
          <p class="footer-text text-center">
            Copyright &copy; 2020 All rights reserved   | <a routerLink="/home" class="text-white">OneWater</a>
            </p>
      </div>
  </div>
</footer>
