<section class="hero-section d-flex align-items-center">
  <div class="hero-bg"></div>
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-6 order-lg-first ">
        <div class="heading">
          <h1>
            OneWater Academy
          </h1>
          <p>
            Building the future of the water sector through knowledge sharing.
          </p>
        </div>
      </div>
      <div class="col-lg-6 order-first">
        <img
          src="assets/img/landing/academy-hero-img.png"
          alt=""
          class="img-fluid hero-img"
        />
      </div>
    </div>
  </div>
  <div class="block-2"></div>
  <div class="wave-bg mobile-wave">
    <img src="assets/img/wave-bg.png" alt="" />
  </div>
</section>

<section class="about-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <img
          src="assets/img/landing/academy-about-img.png"
          alt=""
          class="hero-img"
        />
      </div>
      <div class="col-lg-6">
        <h2>
          About OneWater Academy
        </h2>
        <p>
          Get ready to tackle the challenges of the water and wastewater
          workplace and make an impact in your field. OneWater Academy is
          designed specifically for water professionals, and our online options
          are designed for flexibility, so you can plan your study time to fit
          your schedule.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="instructor-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-first">
        <h2>
          Become an OWA Instructor
        </h2>
        <p>
          Just like online learners, online instructors also enjoy the
          flexibility and convenience of the medium. You can teach from the
          comfort of your own home and do not need to be at a specific place at
          a specific time to teach or to interact with their students. Yet
          you’ll still be able to share your knowledge and make a difference.
        </p>
        <div class="join-btn-wrap">
          <button class="btn" [routerLink]="['/home/instructor']">
            Know more
          </button>
        </div>
      </div>

      <div class="col-lg-6 ins-img-wrap order-first">
        <img src="assets/img/landing/ins-img.png" alt="" class="hero-img" />
      </div>
    </div>
  </div>
</section>

<div class="author-btn">
  <div class="crayon-bg"></div>
  <div class="container">
    <!-- <div class="block-7"></div> -->
    <div class="row no-gutter align-items-center justify-content-center">
      <div class="col-md-7 align-self-center">
        <div class="reg-text">
          <h3>
            Like what you’ve read so far? Register now and become an OWA instructor.
            <br />
          </h3>
          <a [routerLink]="['/instructor',toRender]">Become an instructor </a>
        </div>
      </div>
      <!-- 
    <div class="col-md-5">
      <img src="assets/img/ins-reg-bg.png" alt="" />
   </div> -->
    </div>
  </div>
</div>

<section class="vision-section">
  <div class="wave-bg-inv">
    <img src="assets/img/wave-bg.png" alt="" />
  </div>
  <div class="container">
    <h1 class="text-center">OneWater Academy is part of a bigger picture</h1>
    <div class="row align-items-center">
      <div class="col-lg-6">
        <img
          src="assets/img/landing/academy-vision-img.png"
          alt=""
          class="vision-img"
        />
      </div>

      <div class="col-lg-6">
        <h5 class="content">
          OneWater Academy is just one part of a larger OneWater approach to
          developing the professional workforce needed for a One Water resilient
          future.
        </h5>
      </div>
    </div>
  </div>
  <!-- <div class="block-fa2"></div> -->
  <div class="block-2"></div>
  <div class="block-1"></div>
  <div class="wave-bg">
    <img src="assets/img/wave-bg.png" alt="" />
  </div>
</section>

<section class="features-section">
  <div class="container">
    <h1 class="text-center">OneWater Learning Ecosystem</h1>
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-3">
        <a routerLink="/home/learningacademy">
        <div class="feature-card">
          <h3>
            OneWater Academy
          </h3>
          <p>
            Learn
          </p>
        </div>
        </a>
      </div>
    </div>

    <div class="row align-items-center justify-content-center">
      <div class="col-lg-3">
        <a routerLink="/home/owx">
        <div class="feature-card">
          <h3>
            OWXchange
          </h3>
          <p>
            Network
          </p>
        </div>
        </a>
      </div>
      <div class="col-md-4 text-center">
        <img
          src="assets/img/landing/academy-feature-img.png"
          alt=""
          class="drop-img"
        />
      </div>
      <div class="col-lg-3">
        <a routerLink="/o-wow">
        <div class="feature-card">
          <h3>
            O-WOW
          </h3>
          <p>
            Listen & Share
          </p>
        </div>
        </a>
      </div>
    </div>

    <div class="row align-items-center justify-content-center">
      <div class="col-md-3">
        <a routerLink="/home/leaders">
        <div class="feature-card">
          <h3>
            OneWater Leaders
          </h3>
          <p>
            Get Inspired
          </p>
        </div>
        </a>
      </div>
      <div class="col-lg-2 text-center"></div>
      <div class="col-lg-3">
        <a routerLink="/onewaterblog">
        <div class="feature-card">
          <h3>
            OneWater Blog
          </h3>
          <p>Keep Up to Date</p>
        </div>
        </a>
      </div>
    </div>
  </div>
 
</section>

<section class="get-started">
  
  <div class="donate-block-2"></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 text-center">
        <img
          src="assets/img/landing/academy-getstarted-img.png"
          alt=""
          class="getstarted-img"
        />
      </div>
      <div class="col-lg-6 text-center">
        <h2>
          Get started with OneWater Academy
        </h2>
        <p>
          Participate in courses tailored to the needs of the workforce and taught by instructors who are active in the water and wastewater industries.
        </p>
        <button class="btn" [routerLink]="['/signup']">
          Signup
        </button>

        <p class="login-text">
          Already a member?
          <a
            href="https://onewater-tenant-2.auth0.com/samlp/51lZrlOtuPf5uwe4WP0P3EbY3VwuTz7D"
            target="_blank"
          >
            Login
          </a>
        </p>
      </div>
    </div>
  </div>
</section>

<div class="author-btn">
  <div class="container">
    <!-- <div class="block-7"></div> -->
    <div class="row no-gutter align-items-center justify-content-center">
      <div class="col-md-7 align-self-center">
        <div class="reg-text">
          <h3 style="color: #000">
            Become an OWA instructor and share your knowledge with water workforce members all over the world.
          </h3>
          <button [routerLink]="['/instructor',toRender]" class="btn">
            Become an instructor
          </button>
        </div>
      </div>

      <div class="col-md-5">
        <img src="assets/img/ins-reg-bg.png" alt="" />
      </div>
    </div>
  </div>
</div>
