@import '../about/about.component.scss';

.cover-photo{
  background: linear-gradient(180deg, rgba(0, 101, 199, 0.82) 20%, rgba(0, 59, 212, 0.57) 100%), url(/assets/img/landing/cro-head-bg.jpeg);
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

.intro-content{
    img {
        width: 95%;
    }
}


.leader-img{
    width: 150px;
    height: 150px;
    margin: 3rem auto 1rem;
    border: 2px solid #999;
    padding: 0.3rem;
    border-radius: 50%;
    overflow: hidden;

    img{
        object-fit: cover;
        object-position: center;
    }
}

.mayor-section{
    margin-top: 4rem;
}

.section-intro{
    h1{
        position: relative;
        margin-bottom:2rem;
    }
}



    .top-auth-img {
      text-align: center;
      z-index: 5;
      position: relative;
      img {
        transition: 0.3s all ease-in-out;
    width: 140px;
    height: 140px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
    padding: 0.2rem;
    border: 1.5px #fff solid;
    margin: 1rem auto 2rem;
    background: #052860;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.54), 0px 3px 14px 7px rgba(0, 0, 0, 0.29);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      }

      img:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
          0 10px 10px rgba(0, 0, 0, 0.22);
      }

      h6{
        color: #fff;
      }
    }
    .author-name {
      text-align: center;
      font-weight: 700;
      font-size: 1.1rem;
    }


  blockquote{
    padding: 1.5rem 0;
    margin: 0;
    position: relative;

    p{
      font-size: 1.2rem;
    line-height: 2;
    font-style: italic;
    font-weight: 400;
    }

    i{
      color: #000;
      position: absolute;
      font-size: 5rem;
      opacity: 0.15;
      top: 0.5rem;
      left: 0;
    }
  }

  .cros-car{
      .top-auth-img{
          img{
            padding: 0.15rem;
            border: 2px #fff solid;
            background: #393939;
            box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.46), 0px 3px 14px 7px rgba(0, 0, 0, 0.13);
          }
      }
  }

  .outer-card{
      max-width: 100%;
      padding: 0.8rem;
      box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.49), 0 4px 6px -2px rgba(0, 0, 0, 0.76);
  }

  .two-card{
    padding: 1rem 1.5rem;
    background: #000239eb;
  }

  .section-3 .item{
    padding: 0 3rem;
  }


  .testi-content{
    .top-auth-img{
      display: flex;
    margin-left: auto;
    align-items: center;
    flex-direction: row-reverse;
      h6{
        margin: 0;
      }
    img{
      width: 75px;
    height: 75px;
    margin: 0 1rem;
    }
    }
  }

  .section-blue-cro{
    position: relative;
    color: #fff ;
    background:linear-gradient(180deg, rgba(1, 23, 45, 0.82) 20%, rgba(0, 73, 143, 0.86) 100%), url(/assets/img/landing/cro-blue-bg.jpeg);
    background-attachment: fixed;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom:25vh;
    margin-bottom: -50vh;
  }

  .cro-blogs{
    margin-top: 2rem;
    .outer-card{
      .two-card{
        color: #fff;  
      }
    }
  }

  .featured-post {
    padding: 2rem 0;
    .outer-card {
      padding: 0.5rem;
    }
    .two-card {
      padding: 0.4rem;
      background-color: #000239d4;
      border-radius: 7px;
      img {
        border-radius: 5px;
      }
      .blog-meta-data{
        margin: 0;
      }
      .blog-caption {
        background: url(/assets/img/blue-wave-small.png);
    background-size: 150%;
    background-repeat: no-repeat;
    border-radius: 8px;
    background-position: top;
        padding: 0.5rem;
          min-height: 175px;
        .read,
        .likes {
          font-weight: 500;
        }
      
        a h5 {
          color: #fff;
        }
      }
    }
  }
  .img-wrap{
    img{
      max-width: 500px;
    }
  }
@media screen and (max-width: 991px){
    .page-title h3 {
      margin: auto;
      max-width: 500px;
      text-align: center;
  }
  blockquote p {
    text-align: center;
}
.btn-wrap{
  text-align: center;
}
h2{
  text-align: center;
}
.img-wrap{
  text-align: center;
}
.page-title h5{
  text-align: center;
}
}
