<div class="cover-photo">
  <div class="wave"></div>
</div>

<section class="page-title">
  <div class="container">
    <h1>
      OneWater Leaders
    </h1>
    <h5 class="text-white">
      Meet the trailblazers who are implementing innovative and resilient solutions in the water and wastewater sectors.
    </h5>
  </div>
</section>

<div class="section-intro">
  <div class="container">
  <h1 class="text-center">
    Who are Onewater Leaders?
  </h1>
<div class="row justify-content-center">
  <div class="col-lg-7 text-center">
    <p>
      OneWater leaders are selected from among senior executives in academia, government, nonprofits, and industry to share how they are implementing adaptive strategies while mitigating risks. Share your accomplishments. Your goals. Your vision. Join the OneWater Leaders.
    </p>

    <div class="btn-wrap">
      <button [routerLink]="['/onewaterblog/mayor',toRender]">
        Be a Leader
      </button>
    </div>

  </div>
</div>
</div>
</div>

<section class="cro-blogs featured-post">
  <div class="container">
    <!--featured post carousel section starts-->

      <h2 class="text-center">
        Blogs by OneWater Leaders
      </h2>

      <owl-carousel
      [items]="mayorblogs"
        [options]="carouselBlogs"
        [carouselClasses]="['owl-theme', 'row', 'sliding']"
      >
        <div class="item" *ngFor="let blog of mayorblogs">
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
              <img src="{{blog?.image}}" alt="" />
              <div class="blog-caption">
                <a [routerLink]="['/onewaterblog/mayor-blogpost', blog._id]" title="{{blog?.title}}">
                  <h5>{{blog?.title}}</h5>
                </a>
                <a [routerLink]="['/onewaterblog/mayorprofile/',blog._id]">
                  <div class="auth-img">
                    <img src="{{ blog?.image }}" alt="" />
                    <p>{{ blog.name }}</p>
                  </div>
                </a>
                <div class="blog-meta-data">
                  <div class="author">
                    {{blog?.date_added | date:'MMMM y, d'}}
                  </div>
                  <div class="likes"><i class="fa fa-heart"></i>{{blog?.likecount}} likes</div>
                  <div class="read">
                    {{blog?.read_time}} mins read
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </owl-carousel>
    </div>

</section>

<div class="section-blue section-blue-cro">
  <div class="wave-bg-inv">
    <img src="assets/img/wave-bg.png" alt="" />
  </div>
  <div class="blue-section-intro top-authors">
    <div class="container">
      <h2>
        Meet the OneWater Leaders
      </h2>
      <owl-carousel
      [items]="mayors"
        [options]="carouselOptionsAuthors"
        [carouselClasses]="['owl-theme', 'row', 'sliding']"
      >
        <div class="item" *ngFor="let mayor of mayors">
          <a [routerLink]="['/onewaterblog/mayorprofile/',mayor._id]">
          <div class="top-auth-img">
            <img
              src="{{mayor?.image}}"
              alt=""
            />
            <h6 style="text-transform: capitalize;">{{mayor?.name}}</h6>
          </div>
          </a>
        </div>

      </owl-carousel>
    </div>
  </div>

  <section class="section-3">
    <div class="container">


      <owl-carousel
        [options]="carouselOptionsTestimonials"
        [carouselClasses]="['owl-theme', 'row', 'sliding']"
      >
      <div class="item">
        <div class="testimonial-block">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-10">
              <div class="outer-card">
                <div class="outer-overlay"></div>
                <div class="two-card">
                 <div class="testi-content">
                   <blockquote>
                    <i class="fa fa-quote-right" aria-hidden="true"></i>
                    <p>
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis officiis delectus fuga exercitationem suscipit, quis harum modi illum, id sapiente voluptatum corporis, mollitia doloremque atque tenetur similique. Ratione hic animi temporibus facilis numquam. Reiciendis nostrum provident laudantium, sint perferendis unde delectus amet repellat esse quae soluta temporibus assumenda fuga ab aliquam, odit, dignissimos quasi repudiandae tempora ipsam pariatur nulla. Excepturi?
                    </p>
                   </blockquote>
                   <div class="top-auth-img">
                    <img
                      src="https://images.pexels.com/photos/3799790/pexels-photo-3799790.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                      alt=""
                    />
                    <h6 style="text-transform: capitalize;">Lorem ipsum dolor.</h6>
                  </div>
                 </div>
                </div>
              </div>
            </div>
        </div>
        </div>
      </div>
      <div class="item">
        <div class="testimonial-block">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-10">
              <div class="outer-card">
                <div class="outer-overlay"></div>
                <div class="two-card">
                 <div class="testi-content">
                   <blockquote>
                    <i class="fa fa-quote-right" aria-hidden="true"></i>
                    <p>
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis officiis delectus fuga exercitationem suscipit, quis harum modi illum, id sapiente voluptatum corporis, mollitia doloremque atque tenetur similique. Ratione hic animi temporibus facilis numquam. Reiciendis nostrum provident laudantium, sint perferendis unde delectus amet repellat esse quae soluta temporibus assumenda fuga ab aliquam, odit, dignissimos quasi repudiandae tempora ipsam pariatur nulla. Excepturi?
                    </p>
                   </blockquote>
                   <div class="top-auth-img">
                    <img
                      src="https://images.pexels.com/photos/3799790/pexels-photo-3799790.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                      alt=""
                    />
                    <h6 style="text-transform: capitalize;">Lorem ipsum dolor.</h6>
                  </div>
                 </div>
                </div>

              </div>


            </div>
        </div>
        </div>
      </div>
      </owl-carousel>
    </div>
  </section>

  <div class="wave-bg">
    <img src="assets/img/wave-bg.png" alt="" />
  </div>

</div>

<!-- <section class="cro-section">
  <div class="container">
    <div class="heading">
      <h2 class="text-center">From the desk of the CRO.</h2>
      <div class="row align-items-center">
        <div class="col-lg-5 img-wrap">
            <img src="assets/img/landing/cro-img.png" alt="" >
        </div>
        <div class="col-lg-7">
          <blockquote>
            <i class="fa fa-quote-right" aria-hidden="true"></i>
            <p>
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis officiis delectus fuga exercitationem suscipit, quis harum modi illum, id sapiente voluptatum corporis, mollitia doloremque atque tenetur similique. Ratione hic animi temporibus facilis numquam. Reiciendis nostrum provident laudantium, sint perferendis unde delectus amet repellat esse quae soluta temporibus assumenda fuga ab aliquam, odit, dignissimos quasi repudiandae tempora ipsam pariatur nulla. Excepturi?
            </p>
          </blockquote>

          <div class="mybtn d-flex justify-content-center">
            <button routerLink="/onewaterblog/cro">
              Register as CRO
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
</section> -->





<!-- <div class="section-blue-cro">
  <div class="wave-bg-inv">
    <img src="assets/img/wave-bg.png" alt="" />
  </div>
  <section>
    <div class="container">
      <h2 class="text-center">
        Meet our CROs
      </h2>
      <owl-carousel class="cros-car"
        [options]="carouselOptionsAuthors"
        [carouselClasses]="['owl-theme', 'row', 'sliding']"
      >
        <div class="item">
          <a routerLink="/onewaterblog/mayorprofile">
          <div class="top-auth-img">
            <img
              src="https://images.pexels.com/photos/736716/pexels-photo-736716.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
              alt=""
            />
            <h6 style="text-transform: capitalize;">Lorem ipsum dolor.</h6>
          </div>
          </a>
        </div>
        <div class="item">
          <a routerLink="/onewaterblog/mayorprofile">
          <div class="top-auth-img">
            <img
              src="https://images.pexels.com/photos/3799790/pexels-photo-3799790.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt=""
            />
            <h6 style="text-transform: capitalize;">Lorem ipsum dolor.</h6>
          </div>
          </a>
        </div>
        <div class="item">
          <a routerLink="/onewaterblog/mayorprofile">
          <div class="top-auth-img">
            <img
              src="https://images.pexels.com/photos/3799790/pexels-photo-3799790.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt=""
            />
            <h6 style="text-transform: capitalize;">Lorem ipsum dolor.</h6>
          </div>
          </a>
        </div>
        <div class="item">
          <a routerLink="/onewaterblog/mayorprofile">
          <div class="top-auth-img">
            <img
              src="https://images.pexels.com/photos/736716/pexels-photo-736716.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
              alt=""
            />
            <h6 style="text-transform: capitalize;">Lorem ipsum dolor.</h6>
          </div>
          </a>
        </div>
        <div class="item">
          <a routerLink="/onewaterblog/mayorprofile">
          <div class="top-auth-img">
            <img
              src="https://images.pexels.com/photos/736716/pexels-photo-736716.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
              alt=""
            />
            <h6 style="text-transform: capitalize;">Lorem ipsum dolor.</h6>
          </div>
          </a>
        </div>

        <div class="item">
          <a routerLink="/onewaterblog/mayorprofile">
          <div class="top-auth-img">
            <img
              src="https://images.pexels.com/photos/736716/pexels-photo-736716.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
              alt=""
            />
            <h6 style="text-transform: capitalize;">Lorem ipsum dolor.</h6>
          </div>
        </a>
        </div>
      </owl-carousel>
    </div>
  </section>
  <section class="section-3">
    <div class="container">
      <h2 class="text-center">
        How the CROS sees OneWater Academy
      </h2>

      <owl-carousel
        [options]="carouselOptionsTestimonials"
        [carouselClasses]="['owl-theme', 'row', 'sliding']"
      >
      <div class="item">
        <div class="testimonial-block">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-10">
              <div class="outer-card">
                <div class="outer-overlay"></div>
                <div class="two-card">
                 <div class="testi-content">
                   <blockquote>
                    <i class="fa fa-quote-right" aria-hidden="true"></i>
                    <p>
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis officiis delectus fuga exercitationem suscipit, quis harum modi illum, id sapiente voluptatum corporis, mollitia doloremque atque tenetur similique. Ratione hic animi temporibus facilis numquam. Reiciendis nostrum provident laudantium, sint perferendis unde delectus amet repellat esse quae soluta temporibus assumenda fuga ab aliquam, odit, dignissimos quasi repudiandae tempora ipsam pariatur nulla. Excepturi?
                    </p>
                   </blockquote>
                   <div class="top-auth-img">
                    <img
                      src="https://images.pexels.com/photos/3799790/pexels-photo-3799790.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                      alt=""
                    />
                    <h6 style="text-transform: capitalize;">Lorem ipsum dolor.</h6>
                  </div>
                 </div>
                </div>
              </div>
            </div>
        </div>
        </div>
      </div>
      <div class="item">
        <div class="testimonial-block">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-10">
              <div class="outer-card">
                <div class="outer-overlay"></div>
                <div class="two-card">
                 <div class="testi-content">
                   <blockquote>
                    <i class="fa fa-quote-right" aria-hidden="true"></i>
                    <p>
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis officiis delectus fuga exercitationem suscipit, quis harum modi illum, id sapiente voluptatum corporis, mollitia doloremque atque tenetur similique. Ratione hic animi temporibus facilis numquam. Reiciendis nostrum provident laudantium, sint perferendis unde delectus amet repellat esse quae soluta temporibus assumenda fuga ab aliquam, odit, dignissimos quasi repudiandae tempora ipsam pariatur nulla. Excepturi?
                    </p>
                   </blockquote>
                   <div class="top-auth-img">
                    <img
                      src="https://images.pexels.com/photos/3799790/pexels-photo-3799790.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                      alt=""
                    />
                    <h6 style="text-transform: capitalize;">Lorem ipsum dolor.</h6>
                  </div>
                 </div>
                </div>

              </div>


            </div>
        </div>
        </div>
      </div>
      </owl-carousel>
    </div>

  </section>

  <div class="wave-bg">
    <img src="assets/img/wave-bg.png" alt="" />
  </div>
</div> -->

