<div
class="dashboard-content-wrapper dash-tab"
>
<div class="container">
<h1 class="blog-title">
  <h2>
    Lorem, ipsum dolor sit amet consectetur adipisicing.
  </h2>
 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure pariatur nostrum itaque eaque nesciunt alias magnam, aperiam tenetur corrupti, eos, quibusdam rerum blanditiis nemo inventore! Doloribus, ipsum sunt? Fugit quam consequatur aliquam quasi, natus facere consequuntur alias recusandae fuga libero consectetur voluptatum eveniet, est officiis assumenda blanditiis laborum doloremque sequi voluptatibus, praesentium officia. Modi, ut beatae esse repellat tenetur nam laborum minus soluta nesciunt ipsum, necessitatibus ratione hic eveniet commodi? Sapiente veritatis modi voluptates similique expedita architecto nam perspiciatis! Illo asperiores nesciunt perspiciatis maxime illum, aut et libero. Voluptatem dolores accusamus ipsum! Similique quis numquam fugiat soluta eveniet id nisi?
</h1>
<!-- <div class="blog-content" [innerHtml]="blog?.desc"> -->
</div>
</div>

