<app-header></app-header>
<div class="overlay"></div>

<section id="login">
  <!-- <div class="wave-bg"></div> -->
  <div class="container">
    <div class="row">
      <div class="col-lg-6 left-content">
        <h2>
           Welcome to <br>
          <strong>OneWater Academy</strong>
        </h2>
        <!-- <p>
          Spark important conversations and inspire others. <br>
          Be a OneWater Blog Author.
        </p> -->
        <img src="assets/img/login-img.png" alt="" class="login-img" />
      </div>
      <div class="col-lg-6">
        <div class="form-box">
          <!--Login form-->
          <form
            class="vldform vldauth"
            (submit)="login()"
            [formGroup]="loginuser"
          >
            <h1> Login</h1>

            <input
              formControlName="email"
              class="vldform__textbox"
              type="text"
              name="email"
              placeholder="Email"
              required
            />
            <p

              *ngIf="loginsubmitted && loginuser.get('email').invalid"
            >
              Please enter a valid email id!
            </p>

            <input
              formControlName="password"
              class="vldform__textbox"
              type="password"
              name="pass"
              placeholder="Password"
              required
            />
            <p

              *ngIf="loginsubmitted && loginuser.get('password').invalid"
            >
            Please enter your password!
            </p>

            <a class="vldform__recoverypassword" (click)="showrecoveryform()"
              >Forgot password?</a
            >

            <button
              class="vldform__button"
              type="submit"
              (click)="modal.showBtnLoader()"
            >
              <span class="btn-loading-content">
                <i class="fa fa-circle-o-notch fa-spin"></i> Loading...
              </span>
              <span class="btn-default-content">
                Login
              </span>
            </button>
            <p
              class="vldform__signup"
              style="color: #777;font-size: 1rem;font-weight: 600;"
            >
              New here ?
              <a
              routerLink="/signup"
                >Sign Up!</a
              >
            </p>
          </form>
          <!--forgot password form-->
            <!--------------PASSWORD RECOVERY FORM------------------->
            <form class="vldform vldrecpass" [formGroup]="resetpassform" (submit)="resetpassword()">
              <h1>Password Recovery</h1>
              <input
                class="vldform__textbox"
                type="email"
                name="email"
                placeholder="Email"
                required
                formControlName="email"
              />
              <p *ngIf="resetpasssubmitted && resetpassform.get('email').invalid">
                Please enter your email!
              </p>
              <button
                class="vldform__button"
                type="submit"
                (click)="modal.showBtnLoader()"
              >
                <span class="btn-loading-content">
                  <i class="fa fa-circle-o-notch fa-spin"></i> Loading...
                </span>
                <span class="btn-default-content">
                  Submit
                </span>
              </button>
              <br /><br />
              <a (click)="showauthform()">Back to login</a>
            </form>
        </div>
      </div>
    </div>
  </div>
</section>


<!--MODALS-->

<!-- Login before email verification Modal -->
<div class="modal modal-animate" id="loginModal" role="dialog" #loginModal>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-head">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="modal.closeModal(loginModal)"
        >
          &times;
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-logo">
          <img src="assets/img/ow-logo1.png" alt="">
        </div>
        <img
          src="assets/img/modals/verify-mail.jpg
         "
          alt=""
        />
        <h2>
          Please verify your email address to login.
        </h2>
      </div>
      <button
        type="button"
        class="btn btn-default"
        data-dismiss="modal"
        (click)="modal.closeModal(loginModal)"
      >
        OK
      </button>
    </div>
  </div>
</div>

<!--wrong credentials in login-->
<div class="modal modal-animate" id="invalidModal" role="dialog" #invalidModal>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-head">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="modal.closeModal(invalidModal)"
        >
          &times;
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-logo">
          <img src="assets/img/ow-logo1.png" alt="">
        </div>
        <img src="assets/img/modals/invalid-details.png" alt="" />
        <h2>
          You have entered wrong email or password. Please try again.
        </h2>
      </div>
      <button
        type="button"
        class="btn btn-default"
        data-dismiss="modal"
        (click)="modal.closeModal(invalidModal)"
      >
        OK
      </button>
    </div>
  </div>
</div>

<!--forgot password modal-->
<div class="modal modal-animate" id="forgotpassModal" role="dialog" #forgotpassModal>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-head">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="modal.closeModal(forgotpassModal)"
        >
          &times;
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-logo">
          <img src="assets/img/ow-logo1.png" alt="">
        </div>
        <img src="assets/img/modals/pending-profile.png" alt="" />
        <h2>
         Password Recovery link has been sent to your register email id. Please check it to set new password.
        </h2>
      </div>
      <button
        type="button"
        class="btn btn-default"
        data-dismiss="modal"
        (click)="modal.closeModal(forgotpassModal)"
      >
        OK
      </button>
    </div>
  </div>
</div>