<app-header></app-header>
<div class="overlay"></div>

<section id="login">
  <!-- <div class="wave-bg"></div> -->
  <div class="container">
    <div class="row">
      <div class="col-lg-6 left-content">
        <h2>
           Welcome to <br>
          <strong>OneWater</strong>
        </h2>
        <!-- <p>
          Spark important conversations and inspire others. <br>
          Be a OneWater Blog Author.          
        </p> -->
        <img src="assets/img/login-img.png" alt="" class="login-img" />
      </div>
      <div class="col-lg-6">
        <div class="form-box">
          <form class="vldform vldreg">
            <h1>Login</h1>
           

            <input
              class="vldform__textbox"
              
              type="email"
              name="email"
              placeholder="Email"
              required
            />
            <!-- <p *ngIf="registersubmitted && user.get('email').invalid">
              Enter a valid email id!
            </p> -->
            
                <input
                  class="vldform__textbox halfwidth"
                  
                  type="password"
                  name="pass"
                  placeholder="Password"
                  required
                />
                <!-- <p *ngIf="registersubmitted && user.get('password').invalid">
                  Password must have minimum 6 characters!
                </p> -->
              
             
              <button
                class="vldform__button"
                type="submit"
                (click)="modal.showBtnLoader()"
                
              >
                <span class="btn-loading-content">
                  <i class="fa fa-circle-o-notch fa-spin"></i> Loading...
                </span>
                <span class="btn-default-content">
                  <a class="button-link" href="https://onewater-tenant-2.auth0.com/samlp/51lZrlOtuPf5uwe4WP0P3EbY3VwuTz7D">
                    Login
                  </a>
                </span>
              </button>
            
            <p
              class="vldform__signup"
              style="color: #777;font-size: 1rem;font-weight: 600;"
            >
              New Here? 
              <a
                routerLink="/signup"
                >Signup</a
              >
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>


