<app-header></app-header>
<div class="overlay"></div>

<section id="login">
  <!-- <div class="wave-bg"></div> -->
  <div class="container">
    <div class="row">
      <div class="col-lg-6 left-content">
        <h2>
           Welcome to <br>
          <strong>OneWater Academy</strong>
        </h2>
        <!-- <p>
          Spark important conversations and inspire others. <br>
          Be a OneWater Blog Author.
        </p> -->
        <img src="assets/img/login-img.png" alt="" class="login-img" />
      </div>
      <div class="col-lg-6">
        <div class="form-box">
          <form
            class="vldform vldauth"
            (submit)="login()"
            [formGroup]="loginuser"
          >
            <h1> Login</h1>

            <input
              formControlName="email"
              class="vldform__textbox"
              type="text"
              name="email"
              placeholder="Email"
              required
            />
            <p

              *ngIf="loginsubmitted && loginuser.get('email').invalid"
            >
              Please enter a valid email id!
            </p>

            <input
              formControlName="password"
              class="vldform__textbox"
              type="password"
              name="pass"
              placeholder="Password"
              required
            />
            <p

              *ngIf="loginsubmitted && loginuser.get('password').invalid"
            >
            Please enter your password!
            </p>

            <a class="vldform__recoverypassword" (click)="showrecoveryform()"
              >Forgot password?</a
            >

            <button
              class="vldform__button"
              type="submit"
              (click)="modal.showBtnLoader()"
            >
              <span class="btn-loading-content">
                <i class="fa fa-circle-o-notch fa-spin"></i> Loading...
              </span>
              <span class="btn-default-content">
                Login
              </span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>


