<!-- BEGIN Blog Post -->

<div class="cover-photo" [ngStyle]="{'background-image': 'url(' + blog.image + ')'}">
  <div class="gradient-image"></div>
  <div class="wave"></div>
</div>
<div class="container blog-post-wrapper">
  <div class="row">
    <div class="col-lg-9">
        <div class=" post-top">
          <h1>{{ blog?.title }}</h1>
          <div class="article-meta">
            <img src="{{ author?.image }}" alt="Author" />
            <div class="meta-data">
              <span class="meta-author"
                >By
                <a
                  [routerLink]="['/onewaterblog/authorprofile/', author?._id]"
                  >{{ author?.name | titlecase}}</a
                ></span
              ><br />
              <span class="meta-date">{{ author?.about_author | slice: 0:70  }}....</span>
            </div>
          </div>

          <p class="teaser top-teaser">
            <strong>Category</strong> : <span>{{blog?.category | titlecase}} </span> <span>{{blog?.sub_category | titlecase}}</span>
          </p>
          <div class="di" [innerHtml]="blog?.desc"></div>
          <div class="blog-options">
            <div class="like-btn"  *ngIf="!liked">
              <h6>Like :</h6>
              <a (click)="likeblog()">
                <i class="fa fa-heart" aria-hidden="true"></i>
              </a>
              <span>liked!</span>
            </div>
            <div class="like-btn" *ngIf="liked">
              <h6>Liked</h6>
              <a class="press">
                <i class="fa fa-heart" aria-hidden="true"></i>
              </a>
              <span>liked!</span>
            </div>
            <div class="share-btn">
              <h6>Share on :</h6>
              <button><fb-like url="{{ url }}"></fb-like></button>
              <button><tweet url="{{ url }}" text="{{ url }}"></tweet></button>
              <button><linkedin-share url="{{ url }}"></linkedin-share></button>
            </div>
          </div>

          <div class="meta-bio author-box">
            <a [routerLink]="['/onewaterblog/authorprofile/', author._id]">
              <img src="{{ author?.image }}" alt="" />
            </a>
            <div class="bio-text">
              <p class="bio-shl">Author</p>
              <p class="bio-hl">
                <a
                  [routerLink]="['/onewaterblog/authorprofile/', author._id]"
                  >{{ author?.name | titlecase}}</a
                >
              </p>
              <p>{{ author?.about_author | slice: 0:80 }}...</p>
            </div>
          </div>
        </div>

        <div class="related-blogs">
          <h2>More From Author</h2>
          <owl-carousel
            [items]="authorblogs"
            [options]="carouselOptions"
            [carouselClasses]="['owl-theme', 'row', 'sliding']"
          >
            <div class="item" *ngFor="let blog of authorblogs">
              <div class="outer-card">
                <div class="outer-overlay"></div>
                <div class="two-card">
                  <img src="{{ blog?.image }}" alt="" />
                  <div class="blog-caption">
                    <a [routerLink]="['/onewaterblog/blogpost', blog?._id]">
                      <h5>{{ blog.title | slice:0:30}}..</h5>
                    </a>
                    <div class="blog-meta-data">
                      <div class="author">By {{ author?.name | titlecase}}</div>
                      <div class="likes">
                        <i class="fa fa-heart"></i>
                        <span *ngIf="!blog?.likecount">No likes</span>
                        <span *ngIf="blog?.likecount">{{blog?.likecount}} likes</span>
                      </div>
                      <div class="read">
                        7 mins read
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </owl-carousel>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="side-card ">
        <h2>
          Popular Blogs
        </h2>
        <div class="row">
          <div class="col-lg-12 col-md-6 col-sm-12" *ngFor="let blog of mostlikedblogs">
            <div class="blog-card card-shadow">
              <a [routerLink]="['/onewaterblog/blogpost', blog?._id]">
                {{blog?.title}}</a
              >
              <p>
                {{blog?.read_time}} mins read
              </p>
              <p><i class="fa fa-heart"></i>{{blog?.likecount}} likes</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
