 <!----------------------------------
                  NAVBAR
    ------------------------------------>
    <header>
      <div class="navbar">
          <div class="logo-wrap">
              <a *ngIf="!headerBlue" [routerLink]='["/"]' class="logo logo-white scrollto"><img src="assets/img/ow-logo-white.png" alt="logo-1"></a>
                <a *ngIf="headerBlue" [routerLink]='["/"]' class="logo logo-blue scrollto"><img src="assets/img/ow-logo1.png" alt="logo-1"></a>
              <a [routerLink]='["/"]' class="logo2 scrollto"><img src="assets/img/ow-logo1.png" alt="logo-1"></a>

          </div>
          <div class="menu" [ngClass]="{'blue-link':headerBlue}">
              <ul>
                  <li class="navlink"><a [routerLink]="['/home']">Home</a></li>
                  <li class="navlink"><a [routerLink]="['/home/learningacademy']">learning academy </a></li>
                  <li class="navlink"><a [routerLink]="['/home/owx']" style="text-transform: none;" >OWXchange </a></li>
                  <li class="navlink"><a [routerLink]="['/o-wow']"  style="text-transform: none;" >O-Wow </a></li>
                  <li class="navlink"><a [routerLink]="['/onewaterblog']" >blog</a></li>
                  <li class="navlink"><a [routerLink]="['/home/about']" > about </a></li>
                  <li class="navlink"><a [routerLink]="['/home/team']" > contact </a></li>
                  <li *ngIf="!auth.isLoggedIn" class="navlink"><a href="https://onewater-tenant-2.auth0.com/samlp/51lZrlOtuPf5uwe4WP0P3EbY3VwuTz7D">Login </a></li>
                  <li *ngIf="auth.isLoggedIn" class="navlink"><a (click)="logout()" href="https://onewater-tenant-2.auth0.com/v2/logout?client_id=51lZrlOtuPf5uwe4WP0P3EbY3VwuTz7D&returnTo=https://onewater.herokuapp.com/home">Logout </a></li>
                  <!-- https://YOUR_DOMAIN/v2/logout -->
                  <li *ngIf="!auth.isLoggedIn" class="navlink"><a [routerLink]="['/signup']">Signup </a></li>
              </ul>
              <div class="copyright">
                  <h6>
                      &copy; Copyright OneWater 2019
                  </h6>
              </div>
          </div>
          <div class="hamburger">
              <div class="line"></div>
              <div class="line"></div>
              <div class="line"></div>
          </div>
      </div>

  </header>
  <!--NAVBAR ENDS-->
