.slide-out{
	opacity: 0;
	pointer-events: none;
}
.slide-out-scroll{
	opacity: 1;
	transform: translateX(-35px);
	pointer-events: all;
}
.slide-out-mobile{
	transform: translateX(0%) !important;
}
@media screen and (max-width: 1124px) {

	.hamburger{
		display: block !important;

		.line{background-color: black;}
	}
}

.hover-dd{
  position: relative !important;
  cursor: pointer;
 
}
@keyframes slide{
  0%{
    opacity: 0;
    //transform: translateY(15px);
  }
  100%{
    opacity: 1;
    //transform: translateY(0);
  }
}
// .dd-menu{
//   position: absolute !important;
//   display: none;
//   background: transparent;
//   animation: slide 0.3s ease-in;
//     padding: 1rem 0.5rem 1rem;
//   width: 189px !important;
//   background: #092b86;
//   /* margin-top: 31px; */
//   border-radius: 12px;
//   border: 2px solid #fff;

//  li {
//    a{
//    color: #fff !important;
//    padding: 2px !important;
//  }
//  a::before{
//   color: #fff !important;
//  }
// }
// }
// .hover-dd:hover .dd-menu{
//  display: block ;
// }
/*-------------------------------------------
----------------------HEADER------------------
---------------------------------------------*/

header {
  /*----------NAVBAR INITIAL STYING----------*/

  .navbar {
    height: 80px;
    position: fixed;
    width: 100%;
    z-index: 100;
    transition: all 0.3s ease-out;
    padding: 0 1rem;
  }

  .navbar .logo-wrap {
    width: 100px;
    height: 80px;
    position: relative;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition: all 0.3s ease-out !important;
    margin-left: 3%;
  }
.hamburger{
  display:none;
}
  .logo ,.logo2{
    width: 100%;
    position: absolute;
    transition: all 0.3s ease-out !important;
  }
	.logo2{
		opacity: 0;
	}

  .navbar .menu {
    float: right;
    display: flex;
    margin-right: 1rem;
    align-items: center;
    justify-content: center;
    height: 80px;
    transition: all 0.2s ease-out;
  }

  .menu ul {
    margin: 0 !important;
  }

  .menu ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 5px;
    text-transform: capitalize;
    color: #fff !important;
  }

  .menu ul li a:link, .menu ul li a:visited {
    text-decoration: none;
    font-size: 16px;
    color: #fff !important;
    font-weight: 600;
    padding: 12px;
    text-transform: capitalize;
    font-family: "Montserrat", sans-serif;
    letter-spacing: -0.5px;
    transition: all 0.3s ease-out;
    position: relative;
  }

  .menu ul li a::before {
    content: "";
    position: absolute;
    bottom: 0%;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #fff;
    display: block;
    -webkit-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
    transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
  }

  .menu ul li a:hover::before {
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
  }


  .hamburger {
    display: none;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    right: 20px;
    transform: translateX(20%);
    transition: all 0.3s ease-out;
  }

  .hamburger .line {
    width: 25px;
    height: 3px;
    margin: 5px;
    border-radius: 2px !important;
    background-color: #101010;
    transition: all 0.3s ease-in-out;
  }
  .open .line {
      background-color: rgb(6, 44, 150);
    }
    .open .line:nth-child(1) {
      transform: rotate(-45deg) translateY(11px);;

    }
    .open .line:nth-child(2) {
     opacity: 0;
    }
    .open .line:nth-child(3) {
      transform: rotate(45deg) translateY(-11px);

    }

  .menu-contact {
    display: none;
  }

  .menu .copyright {
    position: absolute;
    bottom: 0%;
    display: none;

		h5{
			font-size: 1rem;
			font-weight: 500;
			letter-spacing: -1px;
		}

  }
	.blue-link ul li {
		a {
		color: #000;
	}
	a::before{
		background: #000;
	}
}

  /*--------FIXED NAVBAR STYLING----------*/

  .navbar-on-scroll {
    height: 70px;
    z-index: 100;
    background: #fff;
    box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.12);

  .hamburger{
    display: block;
    transform: translateX(0);
  }

 .logo-wrap,
 .menu {
    height: 70px;
  }
 .logo-wrap {
    width: 100px;
  }
	.logo2{opacity: 1;}
	.logo{
		opacity: 0;
	}
 .menu ul li a {
    font-size: 16px;
     color:  rgb(6, 44, 150) !important;
   }
  .menu ul li a::before {
    background: rgb(6, 44, 150) !important;
  }


}
.navlink a{
  cursor: pointer;
}

  /*-----------NAVBAR RESPONSIVE STYING-------------*/

  @media screen and (max-width: 1124px) {
    .navbar .menu {
      width: 100%;
      min-height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      background: #fff;
      // transform: scale(0);
      transform: translateX(-100%);
      transform-origin: top right;
    }
    .navbar .menu.menu-opened {
      transform: translateX(0%);
      pointer-events: all;
    }
		.hamburger .line{
			background: #fff;
		}
		.open .line{
			background: #062c96;
		}
      .navbar .menu ul {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .navbar .menu ul li a {
      color: rgb(6, 44, 150) !important;
    }
    .navbar .menu ul li a::before {
      background-color: rgb(6, 44, 150) !important;
    }
    .menu-contact {
      display: block;
      position: absolute;
      width: 100%;
      bottom: 5%;
      padding: 0.5rem;
    }
    .menu-contact .col-4 {
      text-align: center !important;
    }
    .menu .copyright {
      display: block;
    }
    .menu-contact h5 {
      color: white;
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      font-size: 14px;
    }
    .menu-contact p {
      color: rgb(6, 44, 150);
      font-family: "Montserrat", sans-serif;
    }

    .navbar-on-scroll .hamburger .line {
      background-color: rgb(6, 44, 150);
    }

    .navbar .logo-wrap {
      margin-left: 50%;
      transform: translateX(-50%) !important;
      width: 100px;
    }
  }

  @media screen and (max-width: 420px) {
    .navbar .logo-wrap {
      width: 80px;
    }
  }
}

/*---responsive styling for lansdcape mode---*/
@media screen and (max-height: 420px) and (min-width: 567px) {
  .navbar .logo-wrap {
    width: 75px !important;
  }
  .navbar .menu ul {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row !important;
  }
  .section-head h1 {
    font-size: 2.7rem;
    text-align: center;
  }
}

@media screen and (max-width: 360px){
  header .navbar-on-scroll {
    height: 50px;
}
header .navbar-on-scroll .logo-wrap {
  height: 50px;
  width: 70px;
}
}