<div class="overlay"></div>
<div class="cover-photo">
  <div class="wave"></div>
</div>

<section class="page-title">
  <div class="container">
    <h1>
      Donate to OneWater
    </h1>

    <h3>
       Help us do more.
    </h3>
    <!-- <div class="mybtn">
      <a pageScroll href="#sec-1">
        How can I help
      </a>
    </div> -->
  </div>
</section>

<section class="section-1" id="sec-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2>
          Your generous gift will help support the educational mission of OneWater. 
        </h2>
        <p>
Through our various programs and initiatives, OneWater promotes a sustainable, resilient and knowledgeable workforce for the water and wastewater industries.
        </p>
        <p>
          OneWater is a 501(c)(3) nonprofit organization. All or part of your gift may be tax deductible as a charitable contribution.
        </p>
      </div>
      <div class="col-lg-6 img-wrap">
        <img
          src="assets/img/landing/donate-img.png"
          alt=""
          class="donate-img"
        />
        <div class="mybtn">
          <a pageScroll href="#donate">
            Give Today
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="donate-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 img-wrap">
        <img
          src="assets/img/landing/donate-form-img.png"
          alt=""
          class="form-img"
        />
      </div>
      <div class="col-lg-6" id="donate">
        <div class="donation-form form-box">
          <form [formGroup]="userpayment" class="vldform">
            <div class="form-head">
              <h1>Make a Donation</h1>
            </div>
            <input
              class="vldform__textbox"
              type="text"
              name="name"
              placeholder="Name"
              required
              formControlName="name"
            />
            <p
            style="color: red"
            *ngIf="formSubmitted && userpayment.get('name').invalid"
          >
            Please Enter a Name
          </p>
            <input
              class="vldform__textbox"
              type="email"
              name="email"
              placeholder="Email"
              required
              formControlName="email"
            />
            <p
            style="color: red"
            *ngIf="formSubmitted && userpayment.get('email').invalid"
          >
          Please enter your email!</p>
            <input
              class="vldform__textbox halfwidth"
              type="number"
              name="pass2"
              placeholder="Amount Paying (dollars)"
              required
              formControlName="amount"
            />

            <p
            style="color: red"
            *ngIf="formSubmitted && userpayment.get('amount').invalid"
          >
            PLease Enter an Amount
          </p>

            <div class="mybtn" style="text-align: center;">
              <ngx-paypal [config]="payPalConfig"></ngx-paypal>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!--payment successful modal-->
<div class="modal modal-animate" id="paymentSuccessful" role="dialog" #paymentSuccessful>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-head">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="modal.closeModal(paymentSuccessful)"
        >
          &times;
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-logo">
          <img src="assets/img/ow-logo1.png" alt="">
        </div>
        <img src="assets/img/modals/thank-donate.png" style="width: 75%;" alt="" />
        <h2>
          Thankyou for your contribution.
        </h2>
      </div>
      <button
        type="button"
        class="btn btn-default"
        data-dismiss="modal"
        (click)="modal.closeModal(paymentSuccessful)"
      >
        OK
      </button>
    </div>
  </div>
</div>

<!--payment successful modal-->
<div class="modal modal-animate" id="paymentFailed" role="dialog" #paymentFailed>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-head">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="modal.closeModal(paymentFailed)"
        >
          &times;
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-logo">
          <img src="assets/img/ow-logo1.png" alt="">
        </div>
        <img src="assets/img/modals/wrong.svg" style="width: 25%;" alt="" />
        <h2>
          Payment failed. Please try again.
        </h2>
      </div>
      <button
        type="button"
        class="btn btn-default"
        data-dismiss="modal"
        (click)="modal.closeModal(paymentFailed)"
      >
        OK
      </button>
    </div>
  </div>
</div>