<div class="cover-photo">
  <div class="wave"></div>
</div>

<section class="page-title">
  <div class="container">
    <h1>
      Donate to OneWater
    </h1>

    <h3>
      Water is power. Help us do more.
    </h3>
    <div class="mybtn">
      <a pageScroll href="#sec-1">
        How can I help
      </a>
    </div>
  </div>
</section>

<section class="section-1" id="sec-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2>
          Developing water professionals for a One Water Resilient World
        </h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit
          soluta, error dolor debitis aperiam possimus quis quos, quae eius
          aliquam culpa hic exercitationem assumenda odit repudiandae nostrum
          minus sapiente vitae voluptatibus quidem? Quaerat voluptatum
          necessitatibus pariatur illo sequi blanditiis laborum.
        </p>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda
          error dolorem esse tenetur porro repellat cumque voluptates.
          Aspernatur, sint quam nam praesentium velit consectetur porro
          distinctio sequi iure alias fugiat nisi et libero iusto saepe
          perspiciatis neque voluptates earum! Eos quidem alias consequatur ea
          doloremque repellat velit voluptatem at architecto?
        </p>
      </div>
      <div class="col-lg-6 img-wrap">
        <img
          src="assets/img/landing/donate-img.png"
          alt=""
          class="donate-img"
        />
        <div class="mybtn">
          <a pageScroll href="#donate">
            Donate Now
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="donate-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 img-wrap">
        <img
          src="assets/img/landing/donate-form-img.png"
          alt=""
          class="form-img"
        />
      </div>
      <div class="col-lg-6" id="donate">
        <div class="donation-form form-box">
          <form [formGroup]="userpayment" class="vldform">
            <div class="form-head">
              <h1>Make a Donation</h1>
            </div>
            <input
              class="vldform__textbox"
              type="text"
              name="name"
              placeholder="Name"
              required
              formControlName="name"
            />
            <input
              class="vldform__textbox"
              type="email"
              name="email"
              placeholder="email"
              required
              formControlName="email"
            />
            <input
              class="vldform__textbox halfwidth"
              type="number"
              name="pass2"
              placeholder="Amount Paying (dollars)"
              required
              formControlName="amount"
            />

            <div class="mybtn" style="text-align: center;">
              <ngx-paypal [config]="payPalConfig"></ngx-paypal>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
