<div
class="dashboard-content-wrapper dash-tab"
>

<div class="dashboard-section dashboard-recent-activity">
  <div class="container">

<div class="activity-list">
  <div class="content-info">
    <div class="label">
      Title:
    </div>
    <div class="data">
      <h4>
        Water Resources Management and Policy
      </h4>
    </div>
  </div>
  <div class="content-info">
    <div class="label">
      Category: 
    </div>
    <div class="data">
      <h5>
        Water Management
      </h5>
    </div>
  </div>
  <div class="content-info">
    <div class="label">
      URL: 
    </div>
    <div class="data">
      <a href="" target="_blank">Click here</a>
    </div>
  </div>
  <div class="content-info">
    <div class="label">
      Status: 
    </div>
    <div class="data">
      <span class="status pending">
        pending
      </span>
    </div>
  </div>
  <div class="content-info">
    <div class="label">
      Posted on: 
    </div>
    <div class="data">
      <h5>
        12 January, 2020
      </h5>
    </div>
  </div>
  <div class="content-info">
    <div class="label">
      Approved on:
    </div>
    <div class="data">
      <h5>
        Not approved yet
      </h5>
    </div>
  </div>
  </div>
  </div>
  </div>

</div>