@import '../submitted-content/submitted-content.component.scss';

.dashboard-content-wrapper{
    min-height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
}
.activity-list{
    max-width: 700px; 
    padding: 1rem 2rem !important;
}
h5{
    margin-top: 0;
    margin-bottom: 0;
}
.content-info{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    border-bottom: 1px solid rgba(119, 119, 119, 0.425);
    width: 100%;
    padding: 1rem 0.5rem;
    .label{
        font-size: 1.05rem;
        font-weight: 700;
        color: #777;
    }
}

