<div
class="dashboard-content-wrapper dash-tab"
>

<div class="dashboard-section dashboard-recent-activity">
  <div class="container">

<div class="activity-list">
  <div class="content-info">
    <div class="label">
      Title:
    </div>
    <div class="data">
      <h4>
        {{course?.title}}
      </h4>
    </div>
  </div>
  <div class="content-info">
    <div class="label">
      Category:
    </div>
    <div class="data">
      <h5>
        {{course?.category}}
      </h5>
    </div>
  </div>
  <div class="content-info">
    <div class="label">
      URL:
    </div>
    <div class="data">
      <a href={{course?.content_link}} target="_blank">Click here</a>
    </div>
  </div>
  <div class="content-info">
    <div class="label">
      Status:
    </div>
    <div class="data">
      <span class="status pending">
        {{course?.status}}
      </span>
    </div>
  </div>
  <div class="content-info">
    <div class="label">
      Posted on:
    </div>
    <div class="data">
      <h5>
        {{course?.date_added | date:'MMM d, y'}}
      </h5>
    </div>
  </div>
  <div class="content-info">
    <div class="label">
      Approved on:
    </div>
    <div class="data" *ngIf="course?.date_approved == null">
      <h5>
        Not approved yet
      </h5>
    </div>

    <div class="data" *ngIf="course?.date_approved != null">
      <h5>
        {{course?.date_approved | date:'MMM d, y'}}
      </h5>
    </div>
  </div>
  </div>
  </div>
  </div>

</div>
