<div class="cover-photo">
  <div class="wave"></div>
</div>

<section class="page-title">
  <div class="container">
    <h1>
      Vision
    </h1>
    <h3>
      OneWater for one world.
    </h3>
  </div>
</section>

<section class="section-intro">
  <div class="container">
    <div class="intro-content">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <img src="/assets/img/landing/vision-img1.png" alt="" />
        </div>
        <div class="col-lg-6">
          <h2>
            Developing Water Professionals for a One Water Resilient World.
          </h2>
          <!-- <p>
            The One Water Academy (OWA) will provide a one water knowledge
            platform to advance resilience. There is a significant need for an
            educated and experienced workforce for a one water resilient world.
          </p> -->
        </div>
      </div>
    </div>
  </div>
</section>

  <section class="section-1">
     <div class="container">
    
            <h2>
                There is a growing need in the industry to develop water professionals at various career levels.

            </h2>
            
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit soluta, error dolor debitis aperiam possimus quis quos, quae eius aliquam culpa hic exercitationem assumenda odit repudiandae nostrum minus sapiente vitae voluptatibus quidem? Quaerat voluptatum necessitatibus pariatur illo sequi blanditiis laborum.
            </p>
            <p class="half-width-text">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda error dolorem esse tenetur porro repellat cumque voluptates. Aspernatur, sint quam nam praesentium velit consectetur porro distinctio sequi iure alias fugiat nisi et libero iusto saepe perspiciatis neque voluptates earum! Eos quidem alias consequatur ea doloremque repellat velit voluptatem at architecto?
            </p>
        </div>
  
  </section>

  <div class="section-blue">
    <div class="wave-bg-inv">
      <img src="/assets/img/wave-bg.png" alt="">
    </div>
  <section class="section-2">
    <div class="container">
  
    
    <h1>
      Lorem ipsum dolor sit amet consectetur.
    </h1>
    <div class="row align-items-center">
      <div class="col-lg-6">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia nisi commodi distinctio repudiandae. Quos aperiam, consequatur deserunt doloremque totam atque tempore expedita voluptates ad eligendi saepe quia iste, officiis explicabo, illo sequi quo cupiditate facilis earum non amet! Adipisci sed accusamus voluptatum est error blanditiis officia dolore minus placeat iusto?
        </p>
      </div>
      <div class="col-lg-6">
        <div class="img">
          <img src="https://images.pexels.com/photos/416528/pexels-photo-416528.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
        </div>
      </div>
    </div>
    </div>
  </section>
  <section class="section-3">
      <div class="container">
  
      <h1>
        Lorem ipsum dolor sit amet consectetur.
      </h1>
      <div class="row align-items-center">
      
        <div class="col-lg-6">
          <div class="img">
              <img src="https://images.pexels.com/photos/346529/pexels-photo-346529.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">          </div>
        </div>
        <div class="col-lg-6">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia nisi commodi distinctio repudiandae. Quos aperiam, consequatur deserunt doloremque totam atque tempore expedita voluptates ad eligendi saepe quia iste, officiis explicabo, illo sequi quo cupiditate facilis earum non amet! Adipisci sed accusamus voluptatum est error blanditiis officia dolore minus placeat iusto?
            </p>
          </div>
      </div>
      </div>
    </section>

      
</div>