<div class="cover-photo">
  <div class="wave"></div>
</div>

<section class="page-title">
  <div class="container">
    <h1>
      OneWater Events
    </h1>
    <!-- <h3>
      Get to know us better.
    </h3> -->
  </div>
</section>

<section class="section-intro">
 
    <div class="container">
      <div class="intro-content">
            <h2>
              Upcoming events
            </h2>
            <div class="row">
              <div class="col-lg-4 col-md-6">
                <div class="event-card card-shadow">
                  <div class="event-img">
                    <img src="https://images.pexels.com/photos/2796103/pexels-photo-2796103.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                  </div>
                  <div class="event-caption">
                    <h4>
                      2020 Annual Conference | Soil and Water Conservation Society
                    </h4>
                    <div class="date">
                      <img src="assets/img/icons/calendar.svg" alt=""><span>Date:</span> 12, March 2020
                    </div>
                    <p>
                      This year’s conference theme, “Expanding Horizons: Where Conservation Meets Innovation,” evokes images of the expansive views of the region and the deep and varied soil horizons that make Iowa’s farmland some of the most productive in the world.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="event-card card-shadow">
                  <div class="event-img">
                    <img src="https://images.pexels.com/photos/2796103/pexels-photo-2796103.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                  </div>
                  <div class="event-caption">
                    <h4>
                      2020 Annual Conference | Soil and Water Conservation Society
                    </h4>
                    <div class="date">
                      <img src="assets/img/icons/calendar.svg" alt=""><span>Date:</span> 12, March 2020
                    </div>
                    <p>
                      This year’s conference theme, “Expanding Horizons: Where Conservation Meets Innovation,” evokes images of the expansive views of the region and the deep and varied soil horizons that make Iowa’s farmland some of the most productive in the world.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="event-card card-shadow">
                  <div class="event-img">
                    <img src="https://images.pexels.com/photos/2796103/pexels-photo-2796103.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                  </div>
                  <div class="event-caption">
                    <h4>
                      2020 Annual Conference | Soil and Water Conservation Society
                    </h4>
                    <div class="date">
                      <img src="assets/img/icons/calendar.svg" alt=""><span>Date:</span> 12, March 2020
                    </div>
                    <p>
                      This year’s conference theme, “Expanding Horizons: Where Conservation Meets Innovation,” evokes images of the expansive views of the region and the deep and varied soil horizons that make Iowa’s farmland some of the most productive in the world.
                    </p>
                  </div>
                </div>
              </div>
            </div>
        
          </div>

          <div class="intro-content">
            <h2>
              Past events
            </h2>
            <div class="row">
              <div class="col-lg-4 col-md-6">
                <div class="event-card card-shadow">
                  <div class="event-img">
                    <img src="https://images.pexels.com/photos/2796103/pexels-photo-2796103.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                  </div>
                  <div class="event-caption">
                    <h4>
                      2020 Annual Conference | Soil and Water Conservation Society
                    </h4>
                    <div class="date">
                      <img src="assets/img/icons/calendar.svg" alt=""><span>Date:</span> 12, March 2020
                    </div>
                    <p>
                      This year’s conference theme, “Expanding Horizons: Where Conservation Meets Innovation,” evokes images of the expansive views of the region and the deep and varied soil horizons that make Iowa’s farmland some of the most productive in the world.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="event-card card-shadow">
                  <div class="event-img">
                    <img src="https://images.pexels.com/photos/2796103/pexels-photo-2796103.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                  </div>
                  <div class="event-caption">
                    <h4>
                      2020 Annual Conference | Soil and Water Conservation Society
                    </h4>
                    <div class="date">
                      <img src="assets/img/icons/calendar.svg" alt=""><span>Date:</span> 12, March 2020
                    </div>
                    <p>
                      This year’s conference theme, “Expanding Horizons: Where Conservation Meets Innovation,” evokes images of the expansive views of the region and the deep and varied soil horizons that make Iowa’s farmland some of the most productive in the world.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6">
                <div class="event-card card-shadow">
                  <div class="event-img">
                    <img src="https://images.pexels.com/photos/2796103/pexels-photo-2796103.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                  </div>
                  <div class="event-caption">
                    <h4>
                      2020 Annual Conference | Soil and Water Conservation Society
                    </h4>
                    <div class="date">
                      <img src="assets/img/icons/calendar.svg" alt=""><span>Date:</span> 12, March 2020
                    </div>
                    <p>
                      This year’s conference theme, “Expanding Horizons: Where Conservation Meets Innovation,” evokes images of the expansive views of the region and the deep and varied soil horizons that make Iowa’s farmland some of the most productive in the world.
                    </p>
                  </div>
                </div>
              </div>
            </div>
        
          </div>
        </div>
     
</section>


