<div class="cover-photo">
  <div class="wave"></div>
</div>

<section class="page-title">
  <div class="container">
    <h1>
      OneWater <br> Events
    </h1>
    <!-- <h3>
      Get to know us better.
    </h3> -->
  </div>
</section>

<section class="section-intro">

    <div class="container">
      <div class="intro-content">
            <h2>
              Upcoming events
            </h2>
            <div class="row">
              <div class="col-lg-4 col-md-6" *ngFor="let event of upcoming_events ">
                <div class="event-card card-shadow">
                  <div class="event-img">
                    <img src="{{event?.image}}" alt="">
                  </div>
                  <div class="event-caption">
                    <h4>
                      {{event?.name}}
                    </h4>
                    <div class="date">
                      <img src="assets/img/icons/calendar.svg" alt=""><span>Date:</span> {{event?.date_of_event | date:'MMMM y, d'}}
                    </div>
                    <p>
                      {{event?.desc}}
                    </p>
                    <div class="text-center">
                      <a href="{{event?.link}}" class="btn">
                        Register
                      </a>
                    </div>
                  </div>

                </div>
              </div>
            </div>

          </div>

          <div class="intro-content">
            <h2>
              Past events
            </h2>
            <div class="row">
              <div class="col-lg-4 col-md-6" *ngFor="let event of past_events ">
                <div class="event-card card-shadow">
                  <div class="event-img">
                    <img src="{{event?.image}}" alt="">
                  </div>
                  <div class="event-caption">
                    <h4>
                      {{event?.name}}
                    </h4>
                    <div class="date">
                      <img src="assets/img/icons/calendar.svg" alt=""><span>Date:</span> {{event?.date_of_event | date:'MMMM y, d'}}
                    </div>
                    <p>
                      {{event?.desc}}
                    </p>

                    <div class="text-center">
                      <a href="{{event?.link}}" class="btn">
                        Register
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

</section>


