<div
class="dashboard-content-wrapper dash-tab"
>
<div class="dashboard-section user-statistic-block">
  <div class="row">
    <div class="col-md-4">
      <div class="user-statistic">
        <i data-feather="command"></i>
        <h3>62</h3>
        <span>Jobs Approved</span>
      </div>
    </div>
    <div class="col-md-4">
      <div class="user-statistic">
        <i data-feather="file-text"></i>
        <h3>123</h3>
        <span>Jobs Applied</span>
      </div>
    </div>
    <div class="col-md-4">
      <div class="user-statistic">
        <i data-feather="users"></i>
        <h3>32</h3>
        <span>Call for interview</span>
      </div>
    </div>
  </div>
</div>
<!-- <div class="dashboard-section dashboard-view-chart">
        <canvas id="view-chart" width="400" height="200"></canvas>
      </div> -->
<div class="dashboard-section dashboard-recent-activity">
  <h4 class="title">Recently applied jobs</h4>
 

  <div class="activity-list">
      <div class="thumb">
          <img
            src="assets/img/jobs/dashboard/images/user-1.jpg"
            class="img-fluid"
            alt=""
          />
        </div>
    <div class="content">
      <h5>UX Designer</h5>
      <span class="time">12/1/2019</span>
      <br>
      <span class="time">
        Job posted by
        <a routerLink="/candidate-admin/emp-details">Zeit Labs </a>
        </span>
    </div>
    <div class="close-activity buttons">
      <a class="button" routerLink="/candidate-admin/job-details">View</a>
    </div>
  </div>
  <div class="activity-list">
      <div class="thumb">
          <img
            src="assets/img/jobs/dashboard/images/user-1.jpg"
            class="img-fluid"
            alt=""
          />
        </div>
    <div class="content">
      <h5>UX Designer</h5>
      <span class="time">12/01/2019</span>
      <br>
      <span class="time">
          Job posted by
        <a routerLink="/candidate-admin/emp-details">Zeit Labs </a>
        </span>
    </div>
    <div class="close-activity buttons">
      <a class="button" routerLink="/candidate-admin/job-details">View</a>
    </div>
  </div>
  <div class="activity-list">
      <div class="thumb">
          <img
            src="assets/img/jobs/dashboard/images/user-1.jpg"
            class="img-fluid"
            alt=""
          />
        </div>
    <div class="content">
      <h5>UX Designer</h5>
      <span class="time">12/1/2019</span>
      <br>
      <span class="time">
          Job posted by
        <a routerLink="/candidate-admin/emp-details">Zeit Labs </a>
        </span>
    </div>
    <div class="close-activity buttons">
      <a class="button" routerLink="/candidate-admin/job-details">View</a>
    </div>
  </div>
  <div class="activity-list">
      <div class="thumb">
          <img
            src="assets/img/jobs/dashboard/images/user-1.jpg"
            class="img-fluid"
            alt=""
          />
        </div>
    <div class="content">
      <h5>UX Designer</h5>
      <span class="time">12/1/2019</span>
      <br>
      <span class="time">
          Job posted by
        <a routerLink="/candidate-admin/emp-details">Zeit Labs </a>
        </span>
    </div>
    <div class="close-activity buttons">
      <a class="button" routerLink="/candidate-admin/job-details">View</a>
    </div>
  </div>
</div>
</div>