@import '../../../dashboard-style.scss';
.heading{
    text-align: left;
    border-bottom: 1px solid #999;
    margin: 0 0rem 3rem;
}

.modal.show .modal-dialog {
    -webkit-transform: none;
    transform: none;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal button{
    color: #000;
    border-color: #000;
    background: transparent;
    font-weight: bold;
    padding: 1rem;
    width: 80%;
    margin: 2rem auto;
    border-block: 2px solid #000;;
  }
  .modal-head{
    button{
      margin: 0;
      box-shadow: none;
      width: 50px;    }
  }
  .modal-body{
    text-align: center;
    h2{
      text-align: center;
      color:#000;
      font-size: 1.5rem;
      letter-spacing: -0.5px;
      padding: 5px;
      margin: 0;
    }
    img{
      width: 65%;
      margin: 2rem auto;
    }
  }