@import '../../authors/author-login/author-login.component.scss';

#login{
    min-height: 100vh;
    padding: 12vh 0;
    background: #fff;
   background: url(/assets/img/jobs/signup-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
 background-position: bottom right;
    position: relative;
    display: flex;
    align-items: center;
  }
 
  @media all and (max-width:768px){

    #login {
      background-size: cover;;
      p{
        margin: 1rem auto;
      }
     
  
      h2{
        text-align: center;
      }
    }
   }
   @media all and (max-width:480px){
    #login{
      padding: 10vh 0 5vh !important;
    }
   }