@import '../../authors/author-login/author-login.component.scss';

#login{
    min-height: 100vh;
    padding: 12vh 0;
    background: #fff;
   background: url(/assets/img/jobs/signup-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
 background-position: bottom right;
    position: relative;
    display: flex;
    align-items: center;
  }
 