<section class="hero-section">
        <div class="heading">
          <h1>
            Share your knowledge.
          </h1>
</div>
 
<div class="register-card card-shadow align-items-center d-flex">
  <div class="row align-items-center justify-content-center">
    <div class="col-lg-6">
      <img src="assets/img/landing/reg-card.jpg" alt="">
    </div>
    <div class="col-lg-6">
      <h2>
        Become an Instructor.
      </h2>
      <div class="text-center">
        <a [routerLink]="['/instructor',toRender]" class="join-btn">
          Join now
        </a>
      </div>
      
    </div>
  </div>
  </div>

  <div class="block-5"></div>
  <div class="block-5 block-5-bottom"></div>
  <div class="wave-bg">
    <img src="assets/img/wave-bg.png" alt="">
  </div>

</section>

<section class="why-become-instructor-section">
  <div class="block-1 block-1-top"></div>
  <div class="container">
    <h2>
      Why become a OneWater Academy Instructor?
    </h2>
<div class="row">
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="feature-box">
      <img src="/assets/img/icons/learn.svg" alt="">
      <h4>
        Tell Your Story
      </h4>
      <p>
        Your experience is unique and valuable, and others can benefit from your strategy for success in the water and wastewater industries.
      </p>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="feature-box">
      <img src="/assets/img/icons/target.svg" alt="">
      <h4>
        Attract an Audience
      </h4>
      <p>
        Instructing OneWater learners can help you promote yourself, your product, or your company.  
      </p>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="feature-box">
      <img src="/assets/img/icons/seminar.svg" alt="">
      <h4>
        Validate Expertise
      </h4>
      <p>
        Instructing on a topic you would like to be viewed as an expert in, can illustrate to employers, and your network, that you are skilled and knowledgeable.
      </p>
    </div>
  </div>
</div>
  <!-- </div> -->
 
<!-- </section>
<section class="process-section">
  <div class="block-1"></div>
  <div class="container">
    <h2>
      Why become an OneWater Mentor?
    </h2> -->
  
  <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="feature-box">
        <img src="/assets/img/icons/meet.svg" alt="">
        <h4>
          Meet New People

        </h4>
        <p>
         
The people you mentor through OneWater can become your friends, colleagues or business partners. There’s no such thing as too many business contacts that appreciate you and your expertise.
        </p>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="feature-box">
        <img src="/assets/img/icons/future.svg" alt="">
        <h4>
          Shape the Future

        </h4>
        <p>
          The 21st century is unfolding an unparalleled, complex set of water challenges. Help prepare a workforce that can create the solutions we need 
        </p>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="feature-box">
        <img src="/assets/img/icons/innovation.svg" alt="">
        <h4>
          Create Opportunities
        </h4>
        <p>
          
          Nearly everyone can name a person who inspired him or her, that pushed them, that maybe even changed their life for the better. Be that person, and maybe find your new employee.
          
        </p>
      </div>
    </div>
  </div>
</div>
</section>

<section class="register-section">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-5 col-md-6">
        <img src="./assets/img/landing/ins-reg-img.png" alt="">
      </div>
      <div class="col-lg-5 col-md-6">
        <h1>
          Become an instructor.
        </h1>
       
        <a [routerLink]="['/instructor',toRender]" class="join-btn">
          Join now
        </a>
      </div>
    </div>
  </div>
</section>