<section class="hero-section">
        <div class="heading">
          <h1>
              Become an Instructor. 
              <br>
              Share your knowledge.
          </h1>
</div>
 
<div class="register-card card-shadow align-items-center d-flex">
  <div class="row align-items-center justify-content-center">
    <div class="col-lg-6">
      <img src="assets/img/landing/reg-card.jpg" alt="">
    </div>
    <div class="col-lg-6">
      <h2>
        Become an Instructor. <br>
        Join Academy.
      </h2>
      <div class="text-center">
        <a routerLink="/instructor-login" class="join-btn">
          Join now
        </a>
      </div>
      
    </div>
  </div>
  </div>

  <div class="block-5"></div>
  <div class="block-5 block-5-bottom"></div>
  <div class="wave-bg">
    <img src="assets/img/wave-bg.png" alt="">
  </div>

</section>


<section class="why-become-instructor-section">
  <div class="block-1 block-1-top"></div>
  <div class="container">
    <h2>
      Why become Instructor on OneWater Academy?
    </h2>
<div class="row">
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="feature-box">
      <img src="/assets/img/icons/open-book.svg" alt="">
      <h4>
      Post content online.
      </h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, qui praesentium animi quia quam repudiandae! Ipsam facere mollitia fuga alias.
      </p>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="feature-box">
      <img src="/assets/img/icons/book (2).svg" alt="">
      <h4>
        Share knowledge to the world.
      </h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, qui praesentium animi quia quam repudiandae! Ipsam facere mollitia fuga alias.
      </p>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="feature-box">
      <img src="/assets/img/icons/money.svg" alt="">
      <h4>
        Earn money from your content.
      </h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, qui praesentium animi quia quam repudiandae! Ipsam facere mollitia fuga alias.
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="feature-box">
      <img src="/assets/img/icons/team (2).svg" alt="">
      <h4>
        Manage your content.
      </h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, qui praesentium animi quia quam repudiandae! Ipsam facere mollitia fuga alias.
      </p>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="feature-box">
      <img src="/assets/img/icons/organisation.svg" alt="">
      <h4>
        Your own personal dashboard.
      </h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, qui praesentium animi quia quam repudiandae! Ipsam facere mollitia fuga alias.
      </p>
    </div>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="feature-box">
      <img src="/assets/img/icons/review.svg" alt="">
      <h4>
        Grow your following
      </h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, qui praesentium animi quia quam repudiandae! Ipsam facere mollitia fuga alias.
      </p>
    </div>
  </div>
</div>
  </div>
 
</section>
<section class="process-section">
  <div class="block-1"></div>
  <div class="container">
    <h2>
      
      How to become a mentor in the academy?
    </h2>
  
  <div class="row">
    <div class="col-lg-4">
      <div class="process-box">
        <div class="d-flex align-items-center">
          <img src="assets/img/icons/one.svg" alt="">
          <h4>
            Register as instructor in the academy.
          </h4>
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure obcaecati reprehenderit sapiente officiis excepturi quam.
        </p>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="process-box">
        <div class="d-flex align-items-center">
          <img src="assets/img/icons/two.svg" alt="">
          <h4>
            Login to your dashboard.
          </h4>
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure 
        </p>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="process-box">
        <div class="d-flex align-items-center">
          <img src="assets/img/icons/three.svg" alt="">
          <h4>
            Upload your content.
          </h4>
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure obcaecati reprehenderit sapiente officiis 
        </p>
      </div>
    </div>
  </div>

</div>
</section>

<section class="register-section">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-5 col-md-6">
        <img src="./assets/img/landing/ins-reg-img.png" alt="">
      </div>
      <div class="col-lg-5 col-md-6">
        <h1>
          Become an instructor.
        </h1>
        <h4>
          Build your name, earn by teaching millions!
        </h4>
        <a routerLink="/instructor-login" class="join-btn">
          Join now
        </a>
      </div>
    </div>
  </div>
</section>