<div class="filter-btn">
    <a class="button"><i data-feather="list"></i> Options</a>
  </div>
  <div class=" no-gliters">
    <div class="row no-gliters">
      <div class="col">
        <div class="dashboard-container">
        <div class="dashboard-tabs-wrap">  
            <router-outlet></router-outlet>
        </div>
          <div class="dashboard-sidebar">
            <div class="logo">
              <img src="onewater/assets/img/ow-logo1.png" alt="" />
            </div>
            <div class="sidebar-header">
              <h4>Candidate Dashboard</h4>
            </div>
            <div class="company-info">
              <div class="thumb">
                <img
                  src="assets/img/jobs/dashboard/images/company-logo.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="company-body">
                <h5>Degoin</h5>
                <span>@username</span>
              </div>
            </div>
               <!--profile completeness circle-->
      <!-- <div id="activeBorder" class="active-border">
          <div id="circle" class="circle">
              <span class="prec" id="prec">0%</span>
          </div>
        </div>
     <p style="font-size:0.9rem;margin:1rem;text-align:center;color:#777">
       50% profile completed.
     </p> -->
    
            <div class="dashboard-menu">
              <ul>
               
                <li routerLinkActive="activetab" [routerLinkActiveOptions]="{ exact: true }">
                  <i class="fa fa-tasks
                  "></i
                  ><a [routerLink]="['./']">Dashboard</a>
                </li>
                <li routerLinkActive="activetab">
                  <i class="fa fa-briefcase"></i
                  ><a [routerLink]="['./job-list']">Manage Jobs</a>
                </li>
              
              
                <li routerLinkActive="activetab">
                  <i class="fa fa-user"></i
                  ><a [routerLink]="['./edit-profile']">Edit Profile</a>
                </li>
                <li routerLinkActive="activetab">
                    <i class="fa fa-plus-square"></i
                    ><a [routerLink]="['./candidate-reg']">Register Candidate </a>
                  </li>
                  <li routerLinkActive="activetab">
                      <i class="fa fa-arrow-left" aria-hidden="true"></i>

                      <a [routerLink]="['/user-admin']">User Dashboard </a>
                    </li>

              </ul>
              
              <ul class="delete">
                <li>
                  <i class="fa fa-power-off"></i
                  ><a routerLink="/login">Logout</a>
                </li>
              
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Delete Profile Modal -->
  <div
    class="modal fade modal-delete"
    id="modal-delete"
    tabindex="-1"
    role="dialog"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <h4><i data-feather="trash-2"></i>Delete Account</h4>
          <p>
            Are you sure! You want to delete your profile. This can't be undone!
          </p>
          <form action="#">
            <div class="form-group">
              <input
                type="password"
                class="form-control"
                placeholder="Enter password"
              />
            </div>
            <div class="buttons">
              <button class="delete-button">Save Update</button>
              <button class="">Cancel</button>
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" checked="" />
              <label class="form-check-label"
                >You accepts our <a href="#">Terms and Conditions</a> and
                <a href="#">Privacy Policy</a></label
              >
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  