<div
class="dashboard-content-wrapper dash-tab"
>
<div class="container">
<h1 class="blog-title">
  title
</h1>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi placeat culpa nisi dolores architecto natus exercitationem ipsa autem? Mollitia natus dicta nihil suscipit possimus, dignissimos, impedit officiis repellendus neque consectetur, id quos obcaecati minus explicabo laudantium ipsum. Vel optio soluta iusto excepturi velit ratione, ipsa, alias dolore, architecto qui quam quos. Et reiciendis asperiores perspiciatis ipsa eveniet possimus ipsam tenetur temporibus vitae laboriosam, sit nemo accusantium, aliquam ullam ad corporis sequi? Quod, accusantium? Praesentium labore laudantium asperiores consequatur obcaecati distinctio harum culpa dolores similique voluptatem neque, quia officiis corrupti fugiat aliquid tempora perspiciatis assumenda vitae amet optio iusto cupiditate veritatis.</p>
<!-- <div class="blog-content" [innerHtml]="blog?.desc"> -->
</div>
</div>

