@import '../landingpage-common.scss';
@import '../../form-styles.scss';
@import '../../modal-styles.scss';

.cover-photo{
    background: linear-gradient(180deg, rgba(0, 70, 216, 0.78) 20%, rgba(0, 106, 255, 0.83) 100%), url(/assets/img/landing/contact-bg.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
  }

  .page-title{
      margin-top: -100vh;
      min-height: 90vh;
  }

  @media all and (min-width:991px){
    .page-title{
        h1{
            font-size: 4.5rem;
        }
    }
}
  
  @media all and (max-width:576px){
      .intro-content{
          margin-top: 10vh;
      }
  }