<div class="cover-photo">
  <div class="wave"></div>
</div>
<div class="section-bg">
  <section class="page-title">
    <div class="container">
      <h1>
        About OneWater
      </h1>
    </div>
  </section>
  <section class="section-intro">
    <div class="container">
      <h1>
        Developing Water Professionals for a One Water Resilient World
      </h1>
      <h3>
          The One Water Academy (OWA) will provide a one water knowledge platform to advance resilience.  There is a significant need for an educated and experienced workforce for a one water resilient world.
      </h3>
    </div>
  </section>
</div>
<section class="section-1">
  <div class="overlay-img"></div>
  <div class="container">
    <h2>
      There is a growing need in the industry to develop water professionals at
      various career levels.
    </h2>

    <p>
   
    </p>
    <p class="half-width-text">
        OWA seeks to equip government and utilities, the private sector and academia with the skills and knowledge to prepare, respond and recover from shocks and stresses to the water system. OWA’s multi-faceted state-of-the-art digital learning platform aims to provide accessible, continuous, skill-based learning as well as the ability to collaborate to knowledge share and provide a platform to foster capacity building, succession planning, water stewardship through mentoring and innovation in the water sector.  The digital platform incorporates advanced technologies like Artificial Intelligence to develop individualized learning plans which are accessible on various devices on demand as well as enables peer-to-peer learning.  Content on various topics of relevance to the water sector will be curated through established Communities of Practices led by subject matter experts around the globe through invitations only.
    </p>
  </div>
</section>
<!-- <div class="curve"></div> -->
<div class="section-blue">
  <div class="blue-section-intro">
    <div class="container">
      <img
        src="
        assets/img/landing/about-intro-img2.jpeg"
        alt=""
        class="blue-intro-img"
      />
      <h1>
        Lorem ipsum dolor sit amet consectetur.
      </h1>
    </div>
  </div>
  <section class="section-2">
    <div class="container">
     
      <div class="row align-items-center">
        <div class="col-lg-6">
            <h2>
                Vision
              </h2>
          <p>
              The Vision of the One Water Academy (OWA) is to develop a One Water workforce for a One Water resilient world. 
          </p>
        </div>
        <div class="col-lg-6">
          <div class="img">
            <img
              src="assets/img/landing/about1.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-3">
    <div class="container">
      
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="img">
            <img
            src="assets/img/landing/about2.png"              alt=""
            />
          </div>
        </div>
        <div class="col-lg-6">
            <h2>
                Mission
              </h2>
          <p>
              The Mission of OWA is to provide a One Water knowledge platform to advance resilience through a multi-faceted, state-of-the-art digital learning platform to help accelerate and advance knowledge sharing, education, innovation, and capacity building in the water sector.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
