@import '../../../authors/author-admin/post-video/post-video.component.scss';

.ow-head{
    color: rgba(0, 0, 0, 0.23);
    border: none;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: -0.06rem;
    margin-bottom: 2rem;
    text-align: center;
  }