h2 {
  margin: 1rem auto 2rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
}

.cover-photo {
  height: 100vh;
}

.intro-content img {
  width: 85%;
}

.wave-bg-inv {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.wave-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.section-blue {
  background: #092b86;
  color: #fff;
  position: relative;
  padding-top: 100px;
}

.gradient-bg {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-position: bottom center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-title {
  min-height: 100vh;
  margin-top: -100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.page-title h1 {
  font-size: 5.5rem;
  letter-spacing: -0.3rem;
  position: relative;
  z-index: 10;
  font-weight: 500;
}

.page-title h1,
.page-title h3 {
  color: #fff;
}

.page-title h3 {
  max-width: 550px;
}

.half-width-text {
  max-width: 600px;
}

.section-intro {
  padding-top: 0;
}

@media screen and (max-width: 991px) {
  .cover-photo {
    height: 70vh;
  }
  .page-title {
    min-height: 70vh;
    margin-top: -70vh;
  }
  .page-title h1 {
    text-align: center;
    font-size: 4rem;
    letter-spacing: -0.25rem;
  }
  .page-title h3 {
    margin: auto;
    text-align: center;
  }
  .img-wrap {
    text-align: center;
  }
  .img-wrap img {
    max-width: 400px;
  }
}

@media screen and (max-width: 520px) {
  .cover-photo {
    height: 60vh;
  }
  .cover-photo .wave {
    bottom: -55%;
    background-position: center;
  }
  .page-title {
    min-height: 60vh;
    margin-top: -60vh;
  }
}

@media screen and (max-width: 360px) {
  .page-title h1 {
    font-size: 3rem;
    letter-spacing: -0.2rem;
  }
}

@media screen and (max-width: 320px) {
  .page-title h1 {
    font-size: 2.5rem;
    letter-spacing: -0.15rem;
  }
}

.cover-photo {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, rgba(0, 30, 199, 0.82)), to(rgba(13, 0, 212, 0.57))), url(/assets/img/landing/mission-wave-bg.jpeg);
  background: linear-gradient(180deg, rgba(0, 30, 199, 0.82) 20%, rgba(13, 0, 212, 0.57) 100%), url(/assets/img/landing/mission-wave-bg.jpeg);
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

.gradient-bg {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(19%, white), color-stop(56%, rgba(255, 255, 255, 0.678)), to(white)), url(/assets/img/landing/about-bg2.png);
  background-image: linear-gradient(0deg, white 19%, rgba(255, 255, 255, 0.678) 56%, white 100%), url(/assets/img/landing/about-bg2.png);
}

.box {
  width: 300px;
  height: 300px;
  position: absolute;
  top: -100px;
  -webkit-filter: grayscale(1) brightness(0.5);
          filter: grayscale(1) brightness(0.5);
  right: -50px;
  z-index: 0;
}

.box1 {
  top: -200px;
  left: -20px;
}

.section-1 {
  position: relative;
  background: -webkit-gradient(linear, left bottom, left top, from(white), color-stop(80%, rgba(255, 255, 255, 0.1)), to(white)), url(/assets/img/landing/mission-bg.png);
  background: linear-gradient(0deg, white 0%, rgba(255, 255, 255, 0.1) 80%, white 100%), url(/assets/img/landing/mission-bg.png);
  background-repeat: no-repeat;
  background-size: 75%;
  min-height: 90vh;
  background-position: bottom right;
}

.section-3 h2 {
  text-align: right;
}

.img {
  max-width: 400px;
  margin: auto;
}

@media all and (max-width: 991px) {
  .img {
    margin: 1.5rem auto 1rem;
  }
  .section-1 {
    min-height: 50vh;
  }
  .section-2 h2, .section-3 h2 {
    text-align: center;
  }
}
/*# sourceMappingURL=mission.component.css.map */