<div class="cover-photo">
  <div class="wave"></div>
</div>

<section class="page-title">
  <div class="container">
    <h1>
      Mission
    </h1>
    <h3>
      Developing Water Professionals for a One Water Resilient World.
    </h3>
  </div>
</section>

<section class="section-intro">
  <div class="container">
    <div class="intro-content">
      <div class="row align-items-center">
        <div class="col-lg-6 img-wrap">
          <img src="/assets/img/landing/mission-img1.png" alt="" />
        </div>
        <div class="col-lg-6">
          <h2>
            The Mission of One Water Academy is to curate intellectual capital
            around the globe and develop water professionals for a One Water
            Resilient World
          </h2>
          <!-- <p>
            The One Water Academy (OWA) will provide a one water knowledge
            platform to advance resilience. There is a significant need for an
            educated and experienced workforce for a one water resilient world.
          </p> -->
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-1">
  <div class="container">
    <h2>
      The Case for One Water Resilience
    </h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit soluta,
      error dolor debitis aperiam possimus quis quos, quae eius aliquam culpa
      hic exercitationem assumenda odit repudiandae nostrum minus sapiente vitae
      voluptatibus quidem? Quaerat voluptatum necessitatibus pariatur illo sequi
      blanditiis laborum.
    </p>
    <p class="half-width-text">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda error
      dolorem esse tenetur porro repellat cumque voluptates. Aspernatur, sint
      quam nam praesentium velit consectetur porro distinctio sequi iure alias
      fugiat nisi et libero iusto saepe perspiciatis neque voluptates earum! Eos
      quidem alias consequatur ea doloremque repellat velit voluptatem at
      architecto?
    </p>
  </div>
</section>
<section class="section-2">
  <!-- <img src="assets/img/landing/box.png" alt="" class="box box1" /> -->

  <div class="container">
    <h2>
      Lorem ipsum dolor sit amet consectetur.
    </h2>
    <div class="row align-items-center">
      <div class="col-lg-6">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia nisi
          commodi distinctio repudiandae. Quos aperiam, consequatur deserunt
          doloremque totam atque tempore expedita voluptates ad eligendi saepe
          quia iste, officiis explicabo, illo sequi quo cupiditate facilis earum
          non amet! Adipisci sed accusamus voluptatum est error blanditiis
          officia dolore minus placeat iusto?
        </p>
      </div>
      <div class="col-lg-6">
        <div class="img">
          <img
            src="https://cdn.cnn.com/cnnnext/dam/assets/130321160853-face-africa-3-horizontal-large-gallery.jpg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-3">
  <!-- <img src="assets/img/landing/box.png" alt="" class="box" /> -->

  <div class="container">
    <h2>
      Lorem ipsum dolor sit amet consectetur.
    </h2>
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-first">
        <div class="img">
          <img
            src="https://i0.wp.com/www.greaterkashmir.com/wp-content/uploads/2019/06/Water-Shortage.jpg?fit=480%2C320&ssl=1"
            alt=""
          />
        </div>
      </div>
      <div class="col-lg-6 order-first">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia nisi
          commodi distinctio repudiandae. Quos aperiam, consequatur deserunt
          doloremque totam atque tempore expedita voluptates ad eligendi saepe
          quia iste, officiis explicabo, illo sequi quo cupiditate facilis earum
          non amet! Adipisci sed accusamus voluptatum est error blanditiis
          officia dolore minus placeat iusto?
        </p>
      </div>
    </div>
  </div>
</section>
