<div class="cover-photo">
  <div class="wave"></div>
</div>
<!----------------------------------
       LANDING SECTION
 ------------------------------------>
<section class="landing-section">
  <div class="container">
    <div class="landing-text">
      <h2 class="platform-heading">
        O-WOW
        
        
      </h2>
      <p>
        OneWater talks and presentations.
      </p>
    </div>

    <div class="landing-video">
      <div class="iframe-container">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/0tIUbGVEKIk"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        >
        </iframe>
      </div>
    </div>
    <!-- <p class="vod">
            Video of the Day.
           </p> -->
  </div>
</section>

<div class="author-btn">
  <div class="row no-gutter align-items-end">
    <div class="col-md-7 align-self-center">
      <div class="reg-text">
        <h3>
          Spark important conversations and inspire others. 
          <br />
          Be a OneWater Blog Author.
        </h3>
        <a routerLink="/onewaterblog/author-login">Register as author</a>
      </div>
    </div>
    <div class="col-md-5">
      <img src="assets/img/author-reg-bg.png" alt="" />
    </div>
  </div>
</div>

<section class="top-videos">
  <div class="my-container">
    <h2>
      Top Videos
    </h2>
    <div class="row">
      <div class="col-lg-6 col-md-12 h-100 vod-big-wrap">
        <div class="vod">
          <a
            [routerLink]="['/o-wow/singlevideo/', singleliked._id]"
            title="{{ singleliked?.title }}"
          >
            <div class="thumbnail-card">
              <div class="thumb-img">
                <img [src]="singleliked?.image" alt="" />
                <div class="hover-play">
                  <i class="fa fa-play-circle" aria-hidden="true"></i>
                </div>
                <div class="thumb-caption">
                  <div class="video-name">
                    <h3>{{ singleliked?.title }}</h3>
                  </div>
                  <div class="channel">
                    John Wick
                  </div>
                  <div class="video-metadata">
                        <div class="views">{{ singleliked?.views }} views</div>
                        <div class="date">
                          {{ singleliked?.date_added | date: "MMMM d, y" }}
                        </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="row">
          <div class="col-sm-6" *ngFor="let video of likesvideos">
            <div class="vod vod-small">
              <a
                [routerLink]="['/o-wow/singlevideo/', video._id]"
                title="{{ video?.title }}"
              >
                <div class="thumbnail-card">
                  <div class="thumb-img">
                    <img [src]="video?.image" alt="" />
                    <div class="hover-play">
                      <i class="fa fa-play-circle" aria-hidden="true"></i>
                    </div>
                    <div class="thumb-caption">
                      <div class="video-name">
                        <h3>{{ singleliked?.title }}</h3>
                      </div>
                      <div class="channel">
                        John Wick
                      </div>
                      <div class="video-metadata">
                            <div class="views">{{ video?.views }} views</div>
                            <div class="date">
                              {{ video?.date_added | date: "MMMM d, y" }}
                            </div>

                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="categories">
  <div class="container">
    <h2 class="text-center">
      Browse by categories
    </h2>
    <div class="row justify-content-center">
      <div class="col-lg-2 col-md-3 col-6">
        <a
          [routerLink]="['/o-wow/video-category']"
          [queryParams]="{ category: 'Water', fetchcategory: 'water' }"
        >
          <div class="single-category">
            <div class="card-shadow">
              <img src="assets/img/icons/water.svg" alt="" />
            </div>
            <h6 class="text-center my-2">
              Water
            </h6>
          </div>
        </a>
      </div>

      <div class="col-lg-2 col-md-3 col-6">
        <a
          [routerLink]="['/o-wow/video-category']"
          [queryParams]="{
            category: 'Wastewater',
            fetchcategory: 'wastewater'
          }"
        >
          <div class="single-category">
            <div class="card-shadow">
              <img src="assets/img/icons/waste-water.svg" alt="" />
            </div>
            <h6 class="text-center my-2">
              Wastewater
            </h6>
          </div>
        </a>
      </div>

      <div class="col-lg-2 col-md-3 col-6">
        <a
          [routerLink]="['/o-wow/video-category']"
          [queryParams]="{
            category: 'Storm Water',
            fetchcategory: 'stormwater'
          }"
        >
          <div class="single-category">
            <div class="card-shadow">
              <img src="assets/img/icons/storm.svg" alt="" />
            </div>
            <h6 class="text-center my-2">
              Storm water
            </h6>
          </div>
        </a>
      </div>

      <div class="col-lg-2 col-md-3 col-6">
        <a
          [routerLink]="['/o-wow/video-category']"
          [queryParams]="{
            category: 'Innovation Research',
            fetchcategory: 'research'
          }"
        >
          <div class="single-category">
            <div class="card-shadow">
              <img src="assets/img/icons/research.svg" alt="" />
            </div>
            <h6 class="text-center my-2">
              Innovation & Research
            </h6>
          </div>
        </a>
      </div>

    </div>
    <div class="row justify-content-center">
      <div class="col-lg-2 col-md-3 col-6">
        <a
          [routerLink]="['/o-wow/video-category']"
          [queryParams]="{
            category: 'Sustainable Development',
            fetchcategory: 'sustainable'
          }"
        >
          <div class="single-category">
            <div class="card-shadow">
              <img src="assets/img/icons/sustainable.svg" alt="" />
            </div>
            <h6 class="text-center my-2">
              Sustainable Development
            </h6>
          </div>
        </a>
      </div>

      <div class="col-lg-2 col-md-3 col-6">
        <a
          [routerLink]="['/o-wow/video-category']"
          [queryParams]="{
            category: 'Management & Finance',
            fetchcategory: 'mgmt'
          }"
        >
          <div class="single-category">
            <div class="card-shadow">
              <img src="assets/img/icons/finance.svg" alt="" />
            </div>
            <h6 class="text-center my-2">
              Management & Finance
            </h6>
          </div>
        </a>
      </div>

      <div class="col-lg-2 col-md-3 col-6">
        <a
          [routerLink]="['/o-wow/video-category']"
          [queryParams]="{
            category: 'Legistative & Regulatory',
            fetchcategory: 'leg'
          }"
        >
          <div class="single-category">
            <div class="card-shadow">
              <img src="assets/img/icons/regulatory.svg" alt="" />
            </div>
            <h6 class="text-center my-2">
              Legistative & Regulatory
            </h6>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>


<!----------Video Carousels Section Begins--------------->

<div class="container-fluid video-section-wrap">
  <div class="row">
    <div class="col-lg-9">
      <section class="video-section">
        <div class="my-container">
          <h2>Water</h2>
          <owl-carousel *ngIf="water?.length >=1"
            [items]="featuredvideos"
            [options]="carouselOptions"
            [carouselClasses]="['owl-theme', 'row', 'sliding']"
          >
            <div class="item" *ngFor="let video of water">
              <a
                [routerLink]="['/o-wow/singlevideo/', video._id]"
                title="{{ video?.title }}"
              >
                <div class="thumbnail-card card-shadow">
                  <div class="thumb-img">
                    <img [src]="video.image" alt="" />
                    <div class="hover-play">
                      <i class="fa fa-play-circle" aria-hidden="true"></i>
                    </div>
                  </div>
                  <div class="thumb-caption">
                    <div class="video-name">
                      <h5>{{ video?.title | shorten:35 }}</h5>
                    </div>
                    <!-- <div class="channel">
                      John Wick
                    </div> -->
                    <div class="video-metadata">
                          <div class="views">{{ video?.views }} views</div>
                      
                          <div class="date">
                            {{ video?.date_added | date: "MMMM d, y" }}
                          </div>
                       
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </owl-carousel>
          <div class="d-flex justify-content-end mt-2">
            <a
              [routerLink]="['/o-wow/video-category']"
              [queryParams]="{ category: 'Water', fetchcategory: 'water' }"
            >
              <p>
                More videos from Water
              </p>
            </a>
          </div>
        </div>
        
        <div class="my-container">
          <h2>Wastewater</h2>
          <owl-carousel *ngIf="wastewater?.length >=1"
            [items]="featuredvideos"
            [options]="carouselOptions"
            [carouselClasses]="['owl-theme', 'row', 'sliding']"
          >
            <div class="item" *ngFor="let video of wastewater">
              <a
                [routerLink]="['/o-wow/singlevideo/', video._id]"
                title="{{ video?.title }}"
              >
                <div class="thumbnail-card card-shadow">
                  <div class="thumb-img">
                    <img [src]="video.image" alt="" />
                    <div class="hover-play">
                      <i class="fa fa-play-circle" aria-hidden="true"></i>
                    </div>
                  </div>
                  <div class="thumb-caption">
                    <div class="video-name">
                      <h5>{{ video?.title | shorten:35 }}</h5>
                    </div>
                    <!-- <div class="channel">
                      John Wick
                    </div> -->
                    <div class="video-metadata">
                     
                          <div class="views">{{ video?.views }} views</div>
                       
                          <div class="date">
                            {{ video?.date_added | date: "MMMM d, y" }}
                          </div>
                        
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </owl-carousel>
          <div class="d-flex justify-content-end mt-2">
            <a
              [routerLink]="['/o-wow/video-category']"
              [queryParams]="{
                category: 'Wastewater',
                fetchcategory: 'wastewater'
              }"
            >
              <p>
                More videos from Wastewater
              </p>
            </a>
          </div>
        </div>

        <div class="my-container">
          <h2>Storm Water</h2>
          <owl-carousel *ngIf="stormwater?.length >=1"
            [items]="featuredvideos"
            [options]="carouselOptions"
            [carouselClasses]="['owl-theme', 'row', 'sliding']"
          >
            <div class="item" *ngFor="let video of stormwater">
              <a
                [routerLink]="['/o-wow/singlevideo/', video._id]"
                title="{{ video?.title }}"
              >
                <div class="thumbnail-card card-shadow">
                  <div class="thumb-img">
                    <img [src]="video.image" alt="" />
                    <div class="hover-play">
                      <i class="fa fa-play-circle" aria-hidden="true"></i>
                    </div>
                  </div>
                  <div class="thumb-caption">
                    <div class="video-name">
                      <h5>{{ video?.title | shorten:35 }}</h5>
                    </div>
                    <!-- <div class="channel">
                      John Wick
                    </div> -->
                    <div class="video-metadata">
                      
                          <div class="views">{{ video?.views }} views</div>
                        
                          <div class="date">
                            {{ video?.date_added | date: "MMMM d, y" }}
                          </div>
                        
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </owl-carousel>
          <div class="d-flex justify-content-end mt-2">
            <a
              [routerLink]="['/o-wow/video-category']"
              [queryParams]="{
                category: 'Storm Water',
                fetchcategory: 'stormwater'
              }"
            >
              <p>
                More videos from Storm Water
              </p>
            </a>
          </div>
        </div>

        <div class="my-container">
          <h2>Innovation & Research</h2>
          <owl-carousel *ngIf="innovationresearch?.length >=1"
            [items]="featuredvideos"
            [options]="carouselOptions"
            [carouselClasses]="['owl-theme', 'row', 'sliding']"
          >
            <div class="item" *ngFor="let video of innovationresearch">
              <a
                [routerLink]="['/o-wow/singlevideo/', video._id]"
                title="{{ video?.title }}"
              >
                <div class="thumbnail-card card-shadow">
                  <div class="thumb-img">
                    <img [src]="video.image" alt="" />
                    <div class="hover-play">
                      <i class="fa fa-play-circle" aria-hidden="true"></i>
                    </div>
                  </div>
                  <div class="thumb-caption">
                    <div class="video-name">
                      <h5>{{ video?.title | shorten:35 }}</h5>
                    </div>
                    <!-- <div class="channel">
                      John Wick
                    </div> -->
                    <div class="video-metadata">
                    
                          <div class="views">{{ video?.views }} views</div>
                       
                          <div class="date">
                            {{ video?.date_added | date: "MMMM d, y" }}
                          </div>
                       
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </owl-carousel>
          <div class="d-flex justify-content-end mt-2">
            <a
              [routerLink]="['/o-wow/video-category']"
              [queryParams]="{
                category: 'Innovation Research',
                fetchcategory: 'research'
              }"
            >
              <p>
                More videos from Innovation & Research
              </p>
            </a>
          </div>
        </div>

        <div class="my-container">
          <h2>Sustainable Development</h2>
          <owl-carousel *ngIf="sustainabledevelopment?.length >=1"
            [items]="featuredvideos"
            [options]="carouselOptions"
            [carouselClasses]="['owl-theme', 'row', 'sliding']"
          >
            <div class="item" *ngFor="let video of sustainabledevelopment">
              <a
                [routerLink]="['/o-wow/singlevideo/', video._id]"
                title="{{ video?.title }}"
              >
                <div class="thumbnail-card card-shadow">
                  <div class="thumb-img">
                    <img [src]="video.image" alt="" />
                    <div class="hover-play">
                      <i class="fa fa-play-circle" aria-hidden="true"></i>
                    </div>
                  </div>
                  <div class="thumb-caption">
                    <div class="video-name">
                      <h5>{{ video?.title | shorten:35 }}</h5>
                    </div>
                    <!-- <div class="channel">
                      John Wick
                    </div> -->
                    <div class="video-metadata">
                    
                          <div class="views">{{ video?.views }} views</div>
                       
                          <div class="date">
                            {{ video?.date_added | date: "MMMM d, y" }}
                          </div>
                       
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </owl-carousel>
          <div class="d-flex justify-content-end mt-2">
            <a
              [routerLink]="['/o-wow/video-category']"
              [queryParams]="{
                category: 'Sustainable Development',
                fetchcategory: 'sustainable'
              }"
            >
              <p>
                More videos from Sustainable Development
              </p>
            </a>
          </div>
        </div>

        <div class="my-container">
          <h2>Management & Finance</h2>
          <owl-carousel *ngIf="managementsinance?.length >=1"
            [items]="featuredvideos"
            [options]="carouselOptions"
            [carouselClasses]="['owl-theme', 'row', 'sliding']"
          >
            <div class="item" *ngFor="let video of managementsinance">
              <a
                [routerLink]="['/o-wow/singlevideo/', video._id]"
                title="{{ video?.title }}"
              >
                <div class="thumbnail-card card-shadow">
                  <div class="thumb-img">
                    <img [src]="video.image" alt="" />
                    <div class="hover-play">
                      <i class="fa fa-play-circle" aria-hidden="true"></i>
                    </div>
                  </div>
                  <div class="thumb-caption">
                    <div class="video-name">
                      <h5>{{ video?.title | shorten:35 }}</h5>
                    </div>
                    <!-- <div class="channel">
                      John Wick
                    </div> -->
                    <div class="video-metadata">
                     
                          <div class="views">{{ video?.views }} views</div>
                       
                          <div class="date">
                            {{ video?.date_added | date: "MMMM d, y" }}
                          </div>
                        
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </owl-carousel>
          <div class="d-flex justify-content-end mt-2">
            <a
              [routerLink]="['/o-wow/video-category']"
              [queryParams]="{
                category: 'Management & Finance',
                fetchcategory: 'mgmt'
              }"
            >
              <p>
                More videos from Management & Finance
              </p>
            </a>
          </div>
        </div>

        <div class="my-container">
          <h2>Legistative & Regulatory</h2>
          <owl-carousel *ngIf="legistativeregulatory?.length >=1"
            [items]="featuredvideos"
            [options]="carouselOptions"
            [carouselClasses]="['owl-theme', 'row', 'sliding']"
          >
            <div class="item" *ngFor="let video of legistativeregulatory">
              <a
                [routerLink]="['/o-wow/singlevideo/', video._id]"
                title="{{ video?.title }}"
              >
                <div class="thumbnail-card card-shadow">
                  <div class="thumb-img">
                    <img [src]="video.image" alt="" />
                    <div class="hover-play">
                      <i class="fa fa-play-circle" aria-hidden="true"></i>
                    </div>
                  </div>
                  <div class="thumb-caption">
                    <div class="video-name">
                      <h5>{{ video?.title | shorten:35 }}</h5>
                    </div>
                    <!-- <div class="channel">
                      John Wick
                    </div> -->
                    <div class="video-metadata">
                      
                          <div class="views">{{ video?.views }} views</div>
                       
                          <div class="date">
                            {{ video?.date_added | date: "MMMM d, y" }}
                          </div>
                       
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </owl-carousel>
          <div class="d-flex justify-content-end mt-2">
            <a
              [routerLink]="['/o-wow/video-category']"
              [queryParams]="{
                category: 'Legistative & Regulatory',
                fetchcategory: 'leg'
              }"
            >
              <p>
                More videos from Legistative & Regulatory
              </p>
            </a>
          </div>
        </div>
      </section>
    </div>
    <div class="col-lg-3">
      <div class="sidebar-videos">
        <h2>
          Latest
        </h2>
        <div class="row justify-content-center">
          <div
            class="col-lg-12 col-md-6 col-sm-12"
            *ngFor="let video of latestvideos"
          >
            <div class="thumbnail-card card-shadow">
              <a
                [routerLink]="['/o-wow/singlevideo/', video._id]"
                title="{{ video?.title }}"
              >
              <div class="row">
                <div class="col-5 no-gutter">
                  <div class="thumb-img">
                    <img [src]="video?.image" alt="" />
                    <div class="hover-play">
                      <i class="fa fa-play-circle" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
                <div class="col-7 no-gutter">
                  <div class="thumb-caption">
                    <div class="video-name">
                      <h3>{{ video?.title | shorten:35 }}</h3>
                    </div>
                    <!-- <div class="channel">
                      John Wick
                    </div> -->
                    <div class="video-metadata">
                          <div class="views">{{ video?.views }} views</div>
                          <div class="date">
                            {{ video?.date_added | date: "MMMM d, y" }}
                          </div>
                    </div>
                  </div>
                </div>
              </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center see-more">
    <a [routerLink]="['/o-wow/videos']">
      More Videos
    </a>
  </div>
</div>
