<div class="cover-photo">
  <div class="wave"></div>
</div>

<section class="page-title">
  <div class="container">
    <h1>
      CRO
    </h1>
    <h5>
      Meet the Chief Resilience Officers, who are top-level governmental advisors with expertise in maximizing innovation while minimizing the impact of unforeseen events.
    </h5>
  </div>
</section>

<section class="section-intro">
  <div class="container">
    <div class="intro-content">
      <div class="row align-items-center">
        <div class="col-lg-6 img-wrap">
          <img src="/assets/img/landing/what-is-cro.jpg" alt="" />
        </div>
        <div class="col-lg-6">
          <h2>
            Who is CRO ?
          </h2>
          <p>
            A Chief Resilience Officer acts as a municipality’s point person for resilience building, helping to coordinate resilience efforts across departments and other agencies. Many CROs offer scalable knowledge and solutions that can be applied to the issues of other municipalities. The CROs who have joined OneWater are acutely aware that they have the power to help address the world’s water issues. Share your accomplishments. Your goals. Your vision. Join the CROs.
          </p>

          <div class="btn-wrap">
            <button [routerLink]="['/onewaterblog/cro',toRender]">
              Be a CRO
            </button>
          </div>
        </div>
      </div>

      <!-- <div class="row align-items-center">
        <div class="col-lg-6">
          <h2>
            What is the role of CRO ?
          </h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora
            neque, illo consectetur sit blanditiis saepe deserunt, enim dolorum
            sunt ut dolore velit ex officia sint ullam? Dolorum aut commodi, et
            doloribus asperiores nesciunt temporibus eum ipsum ea ex ut sapiente
            sequi, consequuntur in labore non iure fuga voluptatibus voluptate
            minus aliquam impedit! Nemo eum repellendus voluptatem culpa quasi
            distinctio facere dolore minima assumenda minus praesentium, fugiat
            maiores accusamus sapiente aliquid!
          </p>
        </div>

        <div class="col-lg-6 img-wrap">
          <img src="/assets/img/landing/role-cro.png" alt="" />
        </div>
      </div> -->
    </div>
  </div>
</section>

<section class="cro-blogs featured-post">
  <div class="container">
    <!--featured post carousel section starts-->

      <h2>
        Blogs by CROs
      </h2>

      <owl-carousel
      [items]="croblogs"
        [options]="carouselBlogs"
        [carouselClasses]="['owl-theme', 'row', 'sliding']"
      >
        <div class="item" *ngFor="let blog of croblogs">
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
              <img src="{{blog?.image}}" alt="" />
              <div class="blog-caption">
                <a [routerLink]="['/onewaterblog/cro-blogpost', blog._id]" title="{{ blog?.title }}">
                  <h5>{{blog?.title}}</h5>
                </a>
                <div class="blog-meta-data">
                  <div class="author">
                    {{blog?.cro_name}}
                  </div>
                  <div class="likes"><i class="fa fa-heart"></i>{{blog?.likecount}} likes</div>
                  <div class="read">
                    {{blog?.read_time}}  mins read
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </owl-carousel>
    </div>

</section>
<!-- <div class="curve"></div> -->
<div class="section-blue">
  <div class="wave-bg-inv">
    <img src="assets/img/wave-bg.png" alt="" />
  </div>
  <div class="blue-section-intro top-authors">
    <div class="container">
      <h2>
        Meet our CROs
      </h2>
      <owl-carousel
      [items]="cros"
        [options]="carouselOptionsAuthors"
        [carouselClasses]="['owl-theme', 'row', 'sliding']"
      >
        <div class="item" *ngFor="let cro of cros">
          <a [routerLink]="['/onewaterblog/croprofile/',cro?._id]">
            <div class="top-auth-img">
              <img
                src="{{cro?.image}}"
                alt=""
              />
              <h6 style="text-transform: capitalize;">{{cro?.name}}</h6>
            </div>
          </a>
        </div>
      </owl-carousel>
    </div>
  </div>

  <section class="section-3">
    <div class="container">
      <h2 class="text-center">
        What CROs have to say about OneWater
      </h2>

      <owl-carousel
        [options]="carouselOptionsTestimonials"
        [carouselClasses]="['owl-theme', 'row', 'sliding']"
      >
      <div class="item">
        <div class="testimonial-block">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-10">
              <div class="outer-card">
                <div class="outer-overlay"></div>
                <div class="two-card">
                 <div class="testi-content">
                   <blockquote>
                    <i class="fa fa-quote-right" aria-hidden="true"></i>
                    <p>
                      Miami-Dade County’s water future is at a crossroads. On the one hand, we are experiencing challenges or shocks and stresses like we have never seen before, from sea level rise, saltwater intrusion, increasing and more intense hurricanes and sunny day flooding to aging infrastructure. On the other, the stewards of water—our utility managers, public officials, agricultural community, non-profits, businesses, manufacturers, community leaders, recreational users, and more—are shaping and creating transformative solutions. We have come a long way to get here, and as one of the largest counties in the nation there is much at stake. The innovative and holistic approach of the One Water Academy with its mission to advance knowledge sharing, learning, and capacity building in the water sector will help propel us forward to a more Resilient305. 
                    </p>
                   </blockquote>
                   <div class="top-auth-img">
                    <img
                      src="assets/img/testi/JMurley.jpg"
                      alt=""
                    />
                    <h6 style="text-transform: capitalize;">- James Murley Chief <br> Resilience Officer <br> Miami-Dade County</h6>
                  </div>
                 </div>
                </div>


              </div>


            </div>
        </div>
        </div>
      </div>
    
      </owl-carousel>
    </div>
  </section>

</div>
