<div class="cover-photo">
  <div class="wave"></div>
</div>

<section class="page-title">
  <div class="container">
    <h1>
      Mayor
    </h1>
    <h3>
      OneWater welcomes mayor.
    </h3>
  </div>
</section>

<section class="section-intro">
  <div class="container">
    <div class="intro-content">
      <div class="row align-items-center">
        <div class="col-lg-6 img-wrap">
          <img src="/assets/img/landing/what-is-cro.jpg" alt="" />
        </div>
        <div class="col-lg-6">
          <h2>
            Welcome Mayor
          </h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora
            neque, illo consectetur sit blanditiis saepe deserunt, enim dolorum
            sunt ut dolore velit ex officia sint ullam? Dolorum aut commodi, et
            doloribus asperiores nesciunt temporibus eum ipsum ea ex ut sapiente
            sequi, consequuntur in labore non iure fuga voluptatibus voluptate
            minus aliquam impedit! Nemo eum repellendus voluptatem culpa quasi
            distinctio facere dolore minima assumenda minus praesentium, fugiat
            maiores accusamus sapiente aliquid!
          </p>
        </div>
      </div>

      <div class="row align-items-center">
        <div class="col-lg-6">
          <h2>
           How the mayor seesOneWater Academy
          </h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora
            neque, illo consectetur sit blanditiis saepe deserunt, enim dolorum
            sunt ut dolore velit ex officia sint ullam? Dolorum aut commodi, et
            doloribus asperiores nesciunt temporibus eum ipsum ea ex ut sapiente
            sequi, consequuntur in labore non iure fuga voluptatibus voluptate
            minus aliquam impedit! Nemo eum repellendus voluptatem culpa quasi
            distinctio facere dolore minima assumenda minus praesentium, fugiat
            maiores accusamus sapiente aliquid!
          </p>
        </div>

        <div class="col-lg-6 img-wrap">
          <img src="/assets/img/landing/role-cro.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
<div class="author-btn">
  <div class="container">
  <div class="row no-gutter align-items-end">
    <div class="col-md-7 align-self-center">
      <div class="reg-text">
        <h3>
          Hey! Mayor
          <br />
          Want to write blogs yourself. <br>
          Register as author here and get started.
        </h3>
        <a routerLink="/onewaterblog/mayor-login">Register as author</a>
      </div>
    </div>
    <div class="col-md-5">
      <img src="assets/img/reg-img.png" alt="" />
    </div>
  </div>
</div>
</div>
<section class="cro-blogs featured-post">
  <div class="container">
    <!--featured post carousel section starts-->
  
      <h2>
        Blogs by Mayor
      </h2>
  
      <owl-carousel
        [options]="carouselBlogs"
        [carouselClasses]="['owl-theme', 'row', 'sliding']"
      >
        <div class="item">
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
              <img src="https://images.pexels.com/photos/1553962/pexels-photo-1553962.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" />
              <div class="blog-caption">
                <a title="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias, saepe!">
                  <h5>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias, saepe!</h5>
                </a>
                <div class="blog-meta-data">
                  <div class="author">
                   March 20,2020
                  </div>
                  <div class="likes"><i class="fa fa-heart"></i>34 likes</div>
                  <div class="read">
                    7 mins read
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
              <img src="https://images.pexels.com/photos/1834404/pexels-photo-1834404.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" />
              <div class="blog-caption">
                <a title="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias, saepe!">
                  <h5>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias, saepe!</h5>
                </a>
                <div class="blog-meta-data">
                  <div class="author">
                   March 20,2020
                  </div>
                  <div class="likes"><i class="fa fa-heart"></i>34 likes</div>
                  <div class="read">
                    7 mins read
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
              <img src="https://images.pexels.com/photos/1101246/pexels-photo-1101246.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" />
              <div class="blog-caption">
                <a title="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias, saepe!">
                  <h5>Lorem ipsum dolor, sit amet consectetur ...</h5>
                </a>
                <div class="blog-meta-data">
                  <div class="author">
                   March 20,2020
                  </div>
                  <div class="likes"><i class="fa fa-heart"></i>34 likes</div>
                  <div class="read">
                    7 mins read
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
              <img src="https://images.pexels.com/photos/1553962/pexels-photo-1553962.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" />
              <div class="blog-caption">
                <a title="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias, saepe!">
                  <h5>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias, saepe!</h5>
                </a>
                <div class="blog-meta-data">
                  <div class="author">
                   March 20,2020
                  </div>
                  <div class="likes"><i class="fa fa-heart"></i>34 likes</div>
                  <div class="read">
                    7 mins read
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </owl-carousel>
    </div>
  
</section>
<!-- <div class="curve"></div> -->
<div class="section-blue">
  <div class="wave-bg-inv">
    <img src="assets/img/wave-bg.png" alt="" />
  </div>
  <div class="blue-section-intro top-authors">
    <div class="container">
      <h2>
        Meet our Mayors
      </h2>
      <owl-carousel
        [options]="carouselOptionsAuthors"
        [carouselClasses]="['owl-theme', 'row', 'sliding']"
      >
        <div class="item">
          <div class="top-auth-img">
            <img
              src="https://images.pexels.com/photos/736716/pexels-photo-736716.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
              alt=""
            />
            <h6 style="text-transform: capitalize;">Lorem ipsum dolor.</h6>
          </div>
        </div>
        <div class="item">
          <div class="top-auth-img">
            <img
              src="https://images.pexels.com/photos/3799790/pexels-photo-3799790.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt=""
            />
            <h6 style="text-transform: capitalize;">Lorem ipsum dolor.</h6>
          </div>
        </div>
        <div class="item">
          <div class="top-auth-img">
            <img
              src="https://images.pexels.com/photos/3799790/pexels-photo-3799790.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt=""
            />
            <h6 style="text-transform: capitalize;">Lorem ipsum dolor.</h6>
          </div>
        </div>
        <div class="item">
          <div class="top-auth-img">
            <img
              src="https://images.pexels.com/photos/736716/pexels-photo-736716.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
              alt=""
            />
            <h6 style="text-transform: capitalize;">Lorem ipsum dolor.</h6>
          </div>
        </div>
        <div class="item">
          <div class="top-auth-img">
            <img
              src="https://images.pexels.com/photos/736716/pexels-photo-736716.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
              alt=""
            />
            <h6 style="text-transform: capitalize;">Lorem ipsum dolor.</h6>
          </div>
        </div>
        <div class="item">
          <div class="top-auth-img">
            <img
              src="https://images.pexels.com/photos/736716/pexels-photo-736716.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
              alt=""
            />
            <h6 style="text-transform: capitalize;">Lorem ipsum dolor.</h6>
          </div>
        </div>
      </owl-carousel>
    </div>
  </div>

  <section class="section-3">
    <div class="container">
      <h2 class="text-center">
        Some words by Mayors for OneWater
      </h2>

      <owl-carousel
        [options]="carouselOptionsTestimonials"
        [carouselClasses]="['owl-theme', 'row', 'sliding']"
      >
      <div class="item">
        <div class="testimonial-block">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-10">
              <div class="outer-card">
                <div class="outer-overlay"></div>
                <div class="two-card">
                 <div class="testi-content">
                   <blockquote>
                    <i class="fa fa-quote-right" aria-hidden="true"></i>
                    <p>
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis officiis delectus fuga exercitationem suscipit, quis harum modi illum, id sapiente voluptatum corporis, mollitia doloremque atque tenetur similique. Ratione hic animi temporibus facilis numquam. Reiciendis nostrum provident laudantium, sint perferendis unde delectus amet repellat esse quae soluta temporibus assumenda fuga ab aliquam, odit, dignissimos quasi repudiandae tempora ipsam pariatur nulla. Excepturi?
                    </p>
                   </blockquote>
                   <div class="top-auth-img">
                    <img
                      src="https://images.pexels.com/photos/3799790/pexels-photo-3799790.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                      alt=""
                    />
                    <h6 style="text-transform: capitalize;">Lorem ipsum dolor.</h6>
                  </div>
                 </div>
                </div>

               
              </div>

              
            </div>
        </div>
        </div>
      </div>
      <div class="item">
        <div class="testimonial-block">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-10">
              <div class="outer-card">
                <div class="outer-overlay"></div>
                <div class="two-card">
                 <div class="testi-content">
                   <blockquote>
                    <i class="fa fa-quote-right" aria-hidden="true"></i>
                    <p>
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis officiis delectus fuga exercitationem suscipit, quis harum modi illum, id sapiente voluptatum corporis, mollitia doloremque atque tenetur similique. Ratione hic animi temporibus facilis numquam. Reiciendis nostrum provident laudantium, sint perferendis unde delectus amet repellat esse quae soluta temporibus assumenda fuga ab aliquam, odit, dignissimos quasi repudiandae tempora ipsam pariatur nulla. Excepturi?
                    </p>
                   </blockquote>
                   <div class="top-auth-img">
                    <img
                      src="https://images.pexels.com/photos/3799790/pexels-photo-3799790.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                      alt=""
                    />
                    <h6 style="text-transform: capitalize;">Lorem ipsum dolor.</h6>
                  </div>
                 </div>
                </div>

               
              </div>

              
            </div>
        </div>
        </div>
      </div>
      </owl-carousel>
    </div>
  </section>
 
</div>
