@import '../form-styles.scss';
@import '../modal-styles.scss';

.wave-bg{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url(/assets/img/blue-wave.webp);
  background-size: cover;
  background-position-y:10px;
  background-repeat: no-repeat;
}


.login-img{
  width: 75%;
  max-width: 500px;
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
  margin: 1rem auto;
}

.signup-logo{
  position: fixed;
  z-index: 1000;
  top: 30px;
  left: 50px;
  img{
    filter: brightness(0) invert(1);
    width: 90px;
  }
}
.left-content{
  text-align: center;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  justify-content: center;
}
#login h2 {
  text-align: center;
}

@media all and (max-width: 991px)
{
  .login-img {
    display: block;
    max-width: 25vw;
}
}
