@import '../form-styles.scss';
@import '../modal-styles.scss';

.wave-bg{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url(/assets/img/blue-wave.webp);
  background-size: cover;
  background-position-y:10px;
  background-repeat: no-repeat;
}


.login-img{
  width: 85%;
  max-width: 500px;
  filter: brightness(0) invert(1);
  margin: 1rem auto;
}

// .signup-logo{
//   position: fixed;
//   z-index: 1000;
//   top: 20px;
//   left: 30px;
//   img{
//     filter: brightness(0) invert(1);
//     width: 8vw;
//   }
// }
.left-content{
  text-align: center;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
}
#login h2 {
  text-align: center;
  margin: 1rem 0 0.5rem;
}

@media all and (max-width: 991px)
{
  .login-img {
    display: block;
    max-width: 35vw;
}

}

@media all and (max-width: 576px)
{
  .login-img {
    display: block;
    max-width: 50vw;
}

}

