<app-header></app-header>
<div class="overlay"></div>

<section id="login">
  <div class="wave-bg"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 left-content">
        <h2>
          Welcome to 
        </h2>
       
          <img src="assets/img/logo-big.png" alt="" class="login-img" />
       
        
      </div>
      <div class="col-lg-6">
        <div class="form-box">
          <form class="vldform vldreg" [formGroup]="user" (submit)="register()">
            <h1>Sign up</h1>
            <input
              class="vldform__textbox"
              formControlName="name"
              type="text"
              name="firstname"
              placeholder="Name"
              required
            />
            <p *ngIf="registersubmitted && user.get('name').invalid">
              Name is required!
            </p>

            <input
              class="vldform__textbox"
              formControlName="email"
              type="email"
              name="email"
              placeholder="Email"
              required
            />
            <p *ngIf="registersubmitted && user.get('email').invalid">
              Enter a valid email id!
            </p>
            <div class="row">
              <div class="col-md-6">
                <input
                  class="vldform__textbox halfwidth"
                  formControlName="password"
                  type="password"
                  name="pass"
                  placeholder="Password"
                  required
                />
                <p *ngIf="registersubmitted && user.get('password').invalid">
                  Password must have minimum 6 characters!
                </p>
              </div>
              <div class="col-md-6">
                <input
                  class="vldform__textbox halfwidth"
                  formControlName="cpassword"
                  type="password"
                  name="pass2"
                  placeholder="Confirm Password"
                  required
                />
                <p *ngIf="registersubmitted && user.get('cpassword').invalid">
                  Confirm your password!
                </p>
              </div>
              <button
                class="vldform__button"
                type="submit"
                (click)="modal.showBtnLoader()"
              >
                <span class="btn-loading-content">
                  <i class="fa fa-circle-o-notch fa-spin"></i> Loading...
                </span>
                <span class="btn-default-content">
                  Sign up
                </span>
              </button>
            </div>
            <p
              class="vldform__signup"
              style="color: #777;font-size: 1rem;font-weight: 600;"
            >
              Already a member ?
              <a
                href="https://onewater-tenant-2.auth0.com/samlp/51lZrlOtuPf5uwe4WP0P3EbY3VwuTz7D"
                target="_blank"
                >Log in</a
              >
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!---------MODALS------------>

<!-- First Signup Modal -->
<div class="modal modal-animate" id="signupModal" role="dialog" #signupModal>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-head">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="modal.closeModal(signupModal)"
        >
          &times;
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-logo">
          <img src="assets/img/ow-logo1.png" alt="">
        </div>
        <img
          src="assets/img/mail.png
       "
          alt=""
        />
        <h2>
          We’ve sent you a message. Please check your inbox and verify your email address.
        </h2>
      </div>
      <button
        type="button"
        class="btn btn-default"
        data-dismiss="modal"
        (click)="modal.closeModal(signupModal)"
      >
        OK
      </button>
    </div>
  </div>
</div>

<!----mail already exist modal--->
<div
  class="modal modal-animate"
  id="mailexistModal"
  role="dialog"
  #mailexistModal
>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-head">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="modal.closeModal(mailexistModal)"
        >
          &times;
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-logo">
          <img src="assets/img/ow-logo1.png" alt="">
        </div>
        <img
          src="assets/img/modals/mail-sent.jpg
         "
          alt=""
        />
        <h2>
          The email ID you have entered is already in use on OneWater.
        </h2>
      </div>
      <button
        type="button"
        class="btn btn-default"
        data-dismiss="modal"
        (click)="modal.closeModal(mailexistModal)"
      >
        OK
      </button>
    </div>
  </div>
</div>

<!--wrong password modal-->
<div class="modal modal-animate" id="passModal" role="dialog" #passModal>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-head">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          (click)="modal.closeModal(passModal)"
        >
          &times;
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-logo">
          <img src="assets/img/ow-logo1.png" alt="">
        </div>
        <img src="assets/img/modals/wrong.svg" style="width: 25%;" alt="" />
        <h2>
         The Password and Confirm Password fields do not match. Please try again.
        </h2>
      </div>
      <button
        type="button"
        class="btn btn-default"
        data-dismiss="modal"
        (click)="modal.closeModal(passModal)"
      >
        OK
      </button>
    </div>
  </div>
</div>
