<div class="category-wrap">
 <div class="container">
    <div class="category-head">
      <h1> {{subcategory}}

        <h2 class="mt-2">
          from {{category}}
        </h2>
      </h1>

    </div>

  <div class="row">
    <div class="col-lg-8">
      <div class="big-post">
        <a [routerLink]="['/onewaterblog/blogpost']"><img src={{singleblog?.image}} alt=""></a>
        <div class="blog-caption">
          <a [routerLink]="['/onewaterblog/blogpost',singleblog?._id]">
            <h3>
              {{singleblog?.title}}
            </h3>
          </a>
          <div class="article-meta">
            <a [routerLink]="['/onewaterblog/authorprofile']">
            <img src={{author?.image}} alt="Author" />
            </a>
            <div class="meta-data">
              <span class="meta-author">By <a [routerLink]="['/onewaterblog/authorprofile/',author?._id]">{{author?.name | titlecase}}</a></span><br />
              <span class="meta-date">{{ singleblog?.date_approved | date: "MMMM d, y" }}</span>
                <span class="meta-read">7 mins read</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
        <div class="popular-blogs">
           <h2>Popular in {{subcategory}}</h2>
           <div class="row">
             <div class="col-lg-12 col-md-12 col-sm-12">
               <div class="popular-card">
                   <div class="blog-img">
                 <img src="https://picsum.photos/400/400" alt="">  </div>
                 <div class="blog-caption">
                   <a [routerLink]="['/onewaterblog/blogpost']">
                 <h6>Techathlon podcast: iPhone 11, a lie detector, and a streaming content quiz</h6>
                 </a>
                 <div class="blog-meta-data">
                   <div class="likes">
                       <i class="fa fa-heart"></i>79 likes
                   </div>
                   <div class="read">
                       7 mins read
                   </div>
                   </div>
                 </div>
               </div>
             </div>
             <div class="col-lg-12 col-md-12 col-sm-12">
               <div class="popular-card">
                   <div class="blog-img">
                 <img src="https://picsum.photos/300/300" alt="">  </div>
                 <div class="blog-caption">
                   <a [routerLink]="['/onewaterblog/blogpost']">
                 <h6>Nintendo's new Switch controller is a flexible hoop that forces you to exercise</h6>
                 </a>
                 <div class="blog-meta-data">
                   <div class="likes">
                       <i class="fa fa-heart"></i>79 likes
                   </div>
                   <div class="read">
                       7 mins read
                   </div>
                   </div>
                 </div>
               </div>
             </div>
             <div class="col-lg-12 col-md-12 col-sm-12">
               <div class="popular-card">
                   <div class="blog-img">
                 <img src="https://picsum.photos/500/500" alt="">  </div>
                 <div class="blog-caption">
                 <a [routerLink]="['/onewaterblog/blogpost']">
                 <h6>Lamborghini built a supercapacitor into its Sián hybrid for a faster, smoother ride</h6>
                 </a>
                 <div class="blog-meta-data">
                   <div class="likes">
                       <i class="fa fa-heart"></i>79 likes
                   </div>
                   <div class="read">
                       7 mins read
                   </div>
                   </div>
                 </div>
               </div>
             </div>
   
           </div>
       </div>
    </div>
  </div>

  <div class="row mt-60">
    <div class="col-lg-8 order-lg-first">
        <div class="latest-blogs">
            <h2>All Blogs from {{subcategory}}</h2>
            <div class="outer-card" *ngFor="let blog of blogs">
              <div class="outer-overlay"></div>
            <div class="latest-card">
              <div class="row" >
                <div class="col-3">
                    <img src={{blog.image}} alt="">
                  </div>
                  <div class="col-9">
                    <div class="blog-caption">
                        <a [routerLink]="['/onewaterblog/blogpost/', blog._id]">
                    <h4>{{blog?.title}}</h4>
                    </a>
                    <div class="blog-meta-data">
                      <div class="author">
                        By {{author?.name | titlecase}}
                      </div>
                      <div class="likes">
                          <i class="fa fa-heart"></i>79 likes
                      </div>
                      <div class="read">
                          7 mins read
                      </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            </div>
          </div>
    </div>
    <div class="col-lg-4 order-first">
        <div class="categories">
            <h2>More from {{category}}</h2>
          <div class="categories-card mt-4">
            <div class="row">
              <div class="col-6 col-md-3 col-lg-6" *ngFor="let category of currentCategory; let i = index">
                <a [routerLink]="['/onewaterblog/category']" [queryParams]="{'category':tempcate, 'subcategory':category.subname, 'sname':category.sname}">
                  <div class="category-box">
                    <img [src]="category.subimg" alt="">
                    <h6>{{category.subname}}</h6>
                  </div>
                </a>
              </div>
            </div>
          </div>
      
      
          </div>
    </div>
  </div>
   

      </div>
    </div>
 
