.category-wrap {
  padding-top: 15vh;
  background: #fff;
}

.outer-card {
  max-width: 100% !important;
}

.category-head h1 {
  margin: 0.5rem auto;
  font-weight: bold;
  letter-spacing: -0.15rem;
  border-bottom: 1px #ccc solid;
}

.category-head h1 h2 {
  color: #777;
  font-weight: 600;
  letter-spacing: -0.06rem;
}

.category-box {
  height: auto;
  padding: 1rem 0;
  margin: 0;
}

.category-box h5 {
  text-align: left;
  margin: 0;
}

.big-post {
  margin: 0.2rem auto 3rem;
}

.big-post img {
  margin: 1rem auto 0.2rem;
  -webkit-box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
          box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.big-post .blog-caption {
  margin: 0.2rem auto;
}

.big-post .blog-caption h3 {
  margin: 1rem auto 1.2rem;
}

.big-post .article-meta {
  font-size: 14px;
}

.big-post .article-meta img {
  width: 64px;
  height: 64px;
  border-radius: 100%;
  border: 1px solid #0e77e1;
  padding: 2px;
  display: inline-block;
}

.big-post .article-meta .meta-data {
  display: inline-block;
  padding-left: 12px;
  padding-top: 1rem;
  vertical-align: top;
}

.big-post .article-meta .meta-author {
  color: #000;
  font-weight: bold;
}

.big-post .article-meta .meta-date {
  color: rgba(0, 0, 0, 0.477);
  font-weight: 600;
}

.big-post .article-meta .meta-read {
  color: rgba(0, 0, 0, 0.477);
  display: block;
  font-weight: 600;
}

.latest-blogs {
  padding: 2rem 0;
}

.latest-blogs .outer-card {
  margin: 2rem auto;
}

.latest-blogs img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.outer-card {
  margin: 1rem auto;
}

.latest-card {
  background: #fff;
  position: relative;
  z-index: 10;
  -webkit-box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  overflow: hidden;
  padding: 0.5rem;
}

.latest-card .blog-caption {
  padding: 1rem;
  padding-left: 0.2rem;
}

.latest-card .blog-caption h4 {
  margin-top: 0;
}

.popular-card {
  margin: 1rem auto;
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
  position: relative;
  -webkit-box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  position: relative;
  min-height: 120px;
}

.popular-card .blog-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 35%;
}

.popular-card .blog-img img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 100%;
  padding: 0.5rem;
  padding-right: 0;
}

.popular-card .blog-caption {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 65%;
  padding: 0.3rem 1rem;
}

.popular-card .blog-caption h6 {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: -0.8px;
  margin: 0.5rem;
}

.popular-card .blog-meta-data {
  position: absolute;
  bottom: 0.5rem;
  width: 87%;
  right: 1rem;
}

.popular-card .blog-meta-data .read {
  margin-top: 3px;
}

.categories {
  padding: 2rem 0;
}

@media screen and (max-width: 768px) {
  .big-post .article-meta img {
    width: 84px;
    height: 84px;
  }
  .big-post .article-meta .meta-author {
    font-size: 1.3rem;
  }
  .big-post .article-meta .meta-date, .big-post .article-meta .meta-read {
    font-size: 0.95rem;
  }
  .category-head h1 {
    text-align: center;
  }
}

@media screen and (max-width: 520px) {
  .big-post .article-meta img {
    width: 70px;
    height: 70px;
  }
  .big-post .article-meta .meta-author {
    font-size: 1rem;
  }
  .big-post .article-meta .meta-date, .big-post .article-meta .meta-read {
    font-size: 0.9rem;
  }
  .big-post .blog-caption h2 {
    font-size: 1.6rem;
    text-align: left;
  }
  .latest-card {
    padding: 0.5rem;
  }
  .latest-card .col-9 {
    max-width: 100% !important;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .latest-card .col-3 {
    max-width: 100% !important;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .latest-card .blog-caption h6 {
    font-size: 1.2rem;
    font-weight: 600;
  }
  h2 {
    text-align: center;
  }
  .two-card-blog .two-card .blog-caption h6 {
    font-size: 1.2rem;
    font-weight: 700;
  }
}
/*# sourceMappingURL=category.component.css.map */