<div class="role-panel">
  <div class="container-fluid">
    <h2>Welcome to <span>OneWater</span> Platform. <br> Select your <span>role</span> to get started.</h2>
 
    <div class="row justify-content-center" >
      <div class="col-lg-2 col-md-4">
        <a routerLink="/onewaterblog/mayor-login">
        <div class="role-card card-shadow">
            <img src="assets/img/icons/roles/leader.svg" alt="" class="role-img">
        <h5>
          Leader
        </h5>
      </div>
      </a>
      </div>

      <div class="col-lg-2 col-md-4">
        <a routerLink="/onewaterblog/cro-login">
        <div class="role-card card-shadow">
            <img src="assets/img/icons/roles/cro.svg" alt="" class="role-img">
        <h5>
         CRO
        </h5>
      </div>
      </a>
      </div>

      <div class="col-lg-2 col-md-4">
        <a routerLink="/signup">
        <div class="role-card card-shadow">
            <img src="assets/img/icons/roles/user.svg" alt="" class="role-img">
        <h5>
          User
        </h5>
      </div>
      </a>
      </div>
    
  </div>
  <div class="row justify-content-center" >
    <div class="col-lg-2 col-md-4">
      <a routerLink="/onewaterblog/author-login">
      <div class="role-card card-shadow">
          <img src="assets/img/icons/roles/author.svg" alt="" class="role-img">
      <h5>
        Author
      </h5>
    </div>
    </a>
    </div>

    <div class="col-lg-2 col-md-4">
      <a routerLink="/instructor-login">
      <div class="role-card card-shadow">
          <img src="assets/img/icons/roles/instructor.svg" alt="" class="role-img">
      <h5>
        Instructor
      </h5>
    </div>
    </a>
    </div>
  
</div>
</div>
</div>