<app-header></app-header>
<div class="role-panel">
  <div class="container">
    <h2>Welcome to <span>OneWater Academy</span> Platform. <br> Select your <span>role</span> to get started.</h2>
 
    <div class="row justify-content-center" >
      <!-- <div class="col-6 col-sm-6 col-md-4 col-lg-3">
        <a [routerLink]="['/onewaterblog/mayor',toRender]">
        <div class="role-card card-shadow">
            <img src="assets/img/mayor-login-small.png" alt="" class="role-img">
        <h5>
          Leader
        </h5>
      </div>
      </a>
      </div>

      <div class="col-6 col-sm-6 col-md-4 col-lg-3">
        <a [routerLink]="['/onewaterblog/cro',toRender]">
        <div class="role-card card-shadow">
            <img src="assets/img/cro-login-small.png" alt="" class="role-img">
        <h5>
         CRO
        </h5>
      </div>
      </a>
      </div> -->

     
    
  <!-- </div>
  <div class="row justify-content-center" > -->
    <div class="col-6 col-sm-6 col-md-4 col-lg-3">
      <a [routerLink]="['/onewaterblog/author',toRender]">
      <div class="role-card card-shadow">
          <img src="assets/img/author-login-small.png" alt="" class="role-img">
      <h5>
        Blog Authors
      </h5>
    </div>
    </a>
    </div>

    <div class="col-6 col-sm-6 col-md-4 col-lg-3">
      <a [routerLink]="['/signup']">
      <div class="role-card card-shadow">
          <img src="assets/img/login-img-small.png" alt="" class="role-img">
      <h5>
        Users
      </h5>
    </div>
    </a>
    </div>

    <div class="col-6 col-sm-6 col-md-4 col-lg-3">
      <a [routerLink]="['/instructor',toRender]">
      <div class="role-card card-shadow">
          <img src="assets/img/ins-login-small.png" alt="" class="role-img">
      <h5>
        Instructors
      </h5>
    </div>
    </a>
    </div>
  
</div>
</div>
</div>