<app-header></app-header>
<div class="role-panel">
 
  <div class="container">
    <h2>Welcome to <span>OneWater</span> Platform. <br> Select your <span>role</span> for login.</h2>
 
    <div class="row justify-content-center" >
      <div class="col">
        <a routerLink="/onewaterblog/mayor-login">
        <div class="role-card card-shadow">
            <img src="assets/img/mayor-login.png" alt="" class="role-img">
        <h5>
          Leader
        </h5>
      </div>
      </a>
      </div>

      <div class="col">
        <a routerLink="/onewaterblog/cro-login">
        <div class="role-card card-shadow">
            <img src="assets/img/cro-login.png" alt="" class="role-img">
        <h5>
         CRO
        </h5>
      </div>
      </a>
      </div>

      <div class="col">
        <a href="https://onewater-tenant-2.auth0.com/samlp/51lZrlOtuPf5uwe4WP0P3EbY3VwuTz7D">
        <div class="role-card card-shadow">
            <img src="assets/img/login-img.png" alt="" class="role-img">
        <h5>
          User
        </h5>
      </div>
      </a>
      </div>
    
  <!-- </div>
  <div class="row justify-content-center" > -->
    <div class="col">
      <a routerLink="/onewaterblog/author-login">
      <div class="role-card card-shadow">
          <img src="assets/img/author-login.png" alt="" class="role-img">
      <h5>
        Author
      </h5>
    </div>
    </a>
    </div>

    <div class="col">
      <a routerLink="/instructor-login">
      <div class="role-card card-shadow">
          <img src="assets/img/ins-login.png" alt="" class="role-img">
      <h5>
        Instructor
      </h5>
    </div>
    </a>
    </div>
  
</div>
</div>
</div>