<div
class="dashboard-content-wrapper dash-tab"
>
<section class="emp-registration">
    <div class="container">
      <h1>
        Hey username, welcome to <span> OneWater Jobs.</span> <br>
        It seems you have not registered yourself as candidate. Fill the details below and get started
      </h1>
      <div class="dashboard-content-wrapper dash-tab">
        <form class="dashboard-form">
  
          <div class="dashboard-section basic-info-input">
            <h4><i data-feather="user-check"></i>Basic Info</h4>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Company Name</label>
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Company Name"
                />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Username</label>
              <div class="col-sm-9">
                <input
                  type="password"
                  class="form-control"
                  placeholder="@username"
                />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Email Address</label>
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  placeholder="email@example.com"
                />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Phone</label>
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  placeholder="+55 123 4563 4643"
                />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Address</label>
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Washington D.C"
                />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Category</label>
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  placeholder="UI & UX Designer"
                />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">About Company</label>
              <div class="col-sm-9">
                <textarea class="form-control" placeholder=""></textarea>
              </div>
            </div>
          </div>
          <div class="dashboard-section media-inputs">
            <h4><i data-feather="image"></i>Profile Photo</h4>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Upload photo</label>
              <div class="col-sm-9">
                <div class="input-group image-upload-input">
                  <div class="input-group-prepend">
                    <div class="input-group-text">Image</div>
                  </div>
                  <div class="active">
                    <div class="upload-images">
                      <div class="pic">
                        <span class="ti-plus"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="dashboard-section social-inputs">
            <h4><i data-feather="cast"></i>Social Networks</h4>
            <div class="form-group row">
              <div class="offset-sm-3 col-sm-9">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fa fa-linkedin"></i>
                    </div>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Linkedin profile url"
                  />
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Social Links</label>
              <div class="col-sm-9">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fa fa-facebook-f"></i>
                    </div>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Facebook profile url"
                  />
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="offset-sm-3 col-sm-9">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fa fa-twitter"></i>
                    </div>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Twitter profile url"
                  />
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="offset-sm-3 col-sm-9">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fa fa-google"></i>
                    </div>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Google profile url"
                  />
                </div>
              </div>
            </div>
            <!-- <div class="form-group row">
          <div class="offset-sm-3 col-sm-9">
            <div class="input-group add-new">
              <div class="input-group-prepend">
                <div class="input-group-text dropdown-label">
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option>Select</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select><i class="fa fa-caret-down"></i>
                </div>
              </div>
              <input type="text" class="form-control" placeholder="Input Profile Link">
            </div>
          </div>
        </div> -->
          </div>
          <div class="dashboard-section basic-info-input">
            <h4><i data-feather="lock"></i>Set Password</h4>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Enter Password</label>
              <div class="col-sm-9">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter Password"
                />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Confirm Password</label>
              <div class="col-sm-9">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Retype Password"
                />
              </div>
            </div>
  
            <div class="form-group row">
              <label class="col-sm-3 col-form-label"></label>
              <div class="col-sm-9">
                <button class="button" routerLink="/user-admin/candidate-dashboard">Save Change</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
  </div>