@import '../../employers/employer-registeration/employer-registeration.component.scss';
  h1 {
    font-size: 1.4rem;
    font-weight: 600;
    position: relative;
    line-height: 2rem;
    text-align: center;
    letter-spacing: -1px;
    margin: 2vh 0 3rem;

  }
  
.emp-registration {
    padding-top: 5vh;
    background: none;

  }
  