@import '../../../dashboard-style.scss';
@import '../../../job-portal/job-portal.component.scss';

.action a {
  padding: 8px;
  border: 1.2px solid;
  border-radius: 6px;
  i{
      margin-right: 4px;
  }
}
