<div
class="dashboard-content-wrapper dash-tab"
>

<div class="dashboard-section dashboard-recent-activity">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
          <h4 class="title">Past Submissions</h4>
      </div>
      <div class="col-md-6">
              <div class="breadcrumb-form">
                  <input type="text" placeholder="Search Here">
            </div>
      </div>
    </div>
<div class="row">
  <div class="col-12 no-content" *ngIf="!courses.length">
    <h3>
      You have not posted any content yet click <a [routerLink]="['/instructor-admin']"> <u>here</u></a> to post one.
    </h3>
  </div>
  <div class="col-12" *ngFor="let course of courses">
    <div class="activity-list">
      <div class="content-info">
        <h4>{{ course.title }}</h4>
      </div>

      <div class="content-info">
       <h5 class="category">
        {{course.category}}
       </h5>
      </div>


      <div class="content-info">
        URL :  <span>
          <a href={{course.content_link}} target="_blank">{{course.content_link}}</a>

        </span>
      </div>

      <div class="close-activity buttons">
        <a class="button" [routerLink]="['/instructor-admin/content/',course._id]">View</a>
      </div>
  </div>
  </div>
  <!-- <div class="col-lg-4 col-xl-4 col-md-4 col-sm-6 col-xs-12">
    <div class="activity-list">
      <div class="content-info">
        <h4>Consectetur adipisicing elit. Odio, sit.</h4>
      </div>

      <div class="content-info">
       <h5 class="category">
         Water Conservation
       </h5>
      </div>

      <div class="content-info">
        Status : <span class="status approved">
         {{course.status}}
        </span>
      </div>

      <div class="content-info">
        URL : {{course.content_link}} <span>
          <a href={{course.content_link}} target="_blank"> click here</a>

        </span>
      </div>

      <div class="close-activity buttons">
        <a class="button" [routerLink]="['/instructor-admin/content/',course._id]">View</a>
      </div>
  </div>
  </div> -->
  </div>

</div>


</div></div>
<!-- </div> -->
