<div
class="dashboard-content-wrapper dash-tab"
>

<div class="dashboard-section dashboard-recent-activity">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
          <h4 class="title">Past Submissions</h4>
      </div>
      <div class="col-md-6">
              <div class="breadcrumb-form">
                <!-- <form action="#"> -->
                  <input type="text" placeholder="Search Here">
                  <!-- <button><i data-feather="search"></i></button> -->
                <!-- </form> -->
            </div>
      </div>
    </div>
    <!-- <div class="row w-100 justify-content-center align-items-center" style="height: 500px;" *ngIf="!0">
      <div class="col-lg-12">
        <h2 class="text-center" style="opacity: 0.5;">
          No data to display now.
        </h2>
      </div>
    </div> -->
<div class="row">
  <div class="col-lg-4 col-xl-4 col-md-4 col-sm-6 col-xs-12">
    <div class="activity-list">
      <div class="content-info">
        <h4>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio, sit.</h4>
      </div>

      <div class="content-info">
       <h5 class="category">
         Water Preservation
       </h5>
      </div>

      <div class="content-info">
        Status : <span class="status pending">
         pending
        </span>
      </div>

      <div class="content-info">
        URL : <span>
          <a href="" target="_blank"> click here</a>
        
        </span>
      </div>

      <div class="close-activity buttons">
        <a class="button" [routerLink]="['/instructor-admin/content']">View</a>
      </div>
  </div>
  </div>
  <div class="col-lg-4 col-xl-4 col-md-4 col-sm-6 col-xs-12">
    <div class="activity-list">
      <div class="content-info">
        <h4>Consectetur adipisicing elit. Odio, sit.</h4>
      </div>

      <div class="content-info">
       <h5 class="category">
         Water Conservation
       </h5>
      </div>

      <div class="content-info">
        Status : <span class="status approved">
         approved
        </span>
      </div>

      <div class="content-info">
        URL : <span>
          <a href="" target="_blank"> click here</a>
        
        </span>
      </div>

      <div class="close-activity buttons">
        <a class="button" [routerLink]="['/instructor-admin/content']">View</a>
      </div>
  </div>
  </div>
</div>


</div></div>
</div>
