
<div class="cover-photo">
    <div class="wave"></div>
</div>

    <!-- Banner -->
    <div class="banner banner-2 banner-2-bg">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="banner-content">
              <h1>OneWater <strong>Jobs</strong></h1>
              <p>Find the right job Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              <div class="short-infos">
                <div class="info">
                  <h4>5,862</h4>
                  <span>Jobs Posted</span>
                </div>
                <div class="info">
                  <h4>240</h4>
                  <span>Companies</span>
                </div>
              </div>
            
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Banner End -->
<!-- <div class="blue-wave">
</div>-->

<div class="author-btn">
    <div class="row no-gutter align-items-start">
      <div class="col-lg-7 order-lg-first" >
        <div class="reg-text">
          <h4>
            Are you an employer?
            <br />
            Register yourself as employer here.
          </h4>
          <a routerLink="/onewaterjobs/emp-login">Register as employer</a>
        </div>
      </div>
      <div class="col-lg-5 order-first">
        <img src="assets/img/emp-reg-bg.png" alt="" />
      </div>
    </div>
  </div>
    <!-- Search and Filter -->
      <div class="container">
              <div class="searchAndFilter">
                <form action="#">
                  <div class="row">
                    <div class="col-lg-3 col-md-4">
                      <input type="text" placeholder="Enter Keywords">
                    </div>
                    <div class="col-lg-3 col-md-4">
                      <select  id="search-location">
                        <option value="" selected>Location</option>
                        <option value="california">California</option>
                        <option value="las-vegas">Las Vegas</option>
                        <option value="new-work">New Work</option>
                        <option value="carolina">Carolina</option>
                        <option value="chicago">Chicago</option>
                        <option value="silicon-vally">Silicon Vally</option>
                        <option value="washington">Washington DC</option>
                        <option value="neveda">Neveda</option>
                      </select>
                    </div>
                    <div class="col-lg-3 col-md-4">
                      <select id="search-category">
                        <option value="" selected>Category</option>
                        <option value="real-state">Real State</option>
                        <option value="vehicales">Vehicales</option>
                        <option value="electronics">Electronics</option>
                        <option value="beauty">Beauty</option>
                        <option value="furnitures">Furnitures</option>
                      </select>
                    </div>
                      <div class="col-lg-3 col-md-4 search-btn" >
                       <button class="button"><i class="fa fa-search"></i>Search Job</button>
                     </div>
                  </div>
                </form>
              </div>
            </div>

    <!-- Search and Filter End -->

    <!-- Category -->
    <div class="padding-bottom-60">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="categories">
              <div class="category">
                <div class="icon">
                  <i class="fa fa-bar-chart" aria-hidden="true"></i>
                </div>
                <h5><a routerLink='/onewaterjobs'>Accounting / Finance<span>(233)</span></a></h5>
              </div>
              <div class="category">
                <div class="icon">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </div>
                <h5><a routerLink='/onewaterjobs'>Education<span>(45)</span></a></h5>
              </div>
              <div class="category">
                <div class="icon">
                  <i class="fa fa-paint-brush" aria-hidden="true"></i>
                </div>
                <h5><a routerLink='/onewaterjobs'>Design & Creative<span>(147)</span></a></h5>
              </div>
              <div class="category">
                <div class="icon">
                  <i class="fa fa-medkit" aria-hidden="true"></i>
                </div>
                <h5><a routerLink='/onewaterjobs'>Health Care<span>(87)</span></a></h5>
              </div>
              <div class="category">
                <div class="icon">
                <i class="fa fa-cubes" aria-hidden="true"></i>
                </div>
                <h5><a routerLink='/onewaterjobs'>Engineer & Architects<span>(367)</span></a></h5>
              </div>
              <div class="category">
                <div class="icon">
                  <i class="fa fa-pie-chart" aria-hidden="true"></i>

                </div>
                <h5><a routerLink='/onewaterjobs'>Marketing & Sales<span>(41)</span></a></h5>
              </div>
              <div class="category">
                <div class="icon">
                  <i class="fa fa-shirtsinbulk" aria-hidden="true"></i>
                </div>
                <h5><a routerLink='/onewaterjobs'>Garments / Textile<span>(126)</span></a></h5>
              </div>
              <div class="category">
                <div class="icon">
                  <i class="fa fa-phone" aria-hidden="true"></i>

                </div>
                <h5><a routerLink='/onewaterjobs'>Customer Support<span>(161)</span></a></h5>
              </div>
              <div class="category">
                <div class="icon">
                  <i class="fa fa-mobile" aria-hidden="true"></i>

                </div>
                <h5><a routerLink='/onewaterjobs'>Digital Media<span>(69)</span></a></h5>
              </div>
              <div class="category">
                <div class="icon">
                  <i class="fa fa-phone" aria-hidden="true"></i>

                </div>
                <h5><a routerLink='/onewaterjobs'>Telecommunication<span>(92)</span></a></h5>
              </div>
              <span class="vr vr-1"></span>
              <span class="vr vr-2"></span>
              <span class="vr vr-3"></span>
              <span class="vr vr-4"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Category End -->


    <!-- Jobs -->
    <div class="section-padding alice-bg">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="section-header section-header-2 section-header-with-right-content">
              <h2>Recent Jobs</h2>
              <a [routerLink]="['/onewaterjobs/joblist']" class="header-right">+ Browse All Jobs</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="job-list" *ngFor="let job of jobs">
              <div class="thumb">

                  <img src={{job.image}} class="img-fluid" alt="">

              </div>
              <div class="body">
                <div class="content">
                  <h4>  <a [routerLink]="['/onewaterjobs/jobdesc/',job._id]">{{job.title}}</a></h4>
                  <div class="info">
                    <span class="company"><a href="#"><i data-feather="briefcase"></i>Theoreo</a></span>
                    <span class="office-location"><a href="#"><i data-feather="map-pin"></i>{{job.location}}</a></span>
                    <span class="job-type full-time"><a href="#"><i data-feather="clock"></i>{{job.category}}</a></span>
                  </div>
                </div>
                <div class="more">
                  <div class="buttons">
                    <a [routerLink]="['/onewaterjobs/jobdesc/',job._id]" class="button">Apply Now</a>
                    <a href="#" class="favourite"><i data-feather="heart"></i></a>
                  </div>
                  <p class="deadline">Deadline: {{job.deadline | date: 'MMMM d, y'}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Jobs End -->

    <!-- Top Companies -->
    <div class="section-padding-top padding-bottom-90">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="section-header">
              <h2>Top Companies</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <owl-carousel [items]="companies" [options]="carouselOptions" [carouselClasses]="['owl-theme', 'row', 'sliding']">
              <div class="item" *ngFor="let company of companies">
                <div class="outer-card">
                  <div class="outer-overlay"></div>
                  <div class="two-card">
                <div class="company-wrap">
                  <div class="thumb">
                    <a [routerLink]="['/onewaterjobs/emp-details/',company._id]">
                      <img src={{company?.company_logo}} class="img-fluid" alt="">
                    </a>
                  </div>
                  <div class="body">
                    <h4><a [routerLink]="['/onewaterjobs/emp-details/',company._id]">{{company?.company_name}}</a></h4>
                    <span>{{company?.location}}</span>
                    <a [routerLink]="['/onewaterjobs/emp-details/',company._id]" class="button">View</a>
                  </div>
                </div>
                </div>
              </div>
              </div>
                </owl-carousel>
          </div>
        </div>
      </div>
    </div>
    <!-- Top Companies End -->
