<section class="hero-section d-flex align-items-center">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-6 order-lg-first ">
        <div class="heading">
          <h1>
              OneWater
          </h1>
          <h3>
              A platform for everybody.
            </h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et, recusandae. Inventore repudiandae accusamus eos perferendis excepturi. Illo, cumque! Ut, quis.
          </p>
        </div>
      </div>
      <div class="col-lg-6 order-first">
         <img src="assets/img/landing/hero2.png" alt="" class="img-fluid hero-img">
        </div>
    </div>
  </div>

  <!-- <div class="shapes circle">  </div>
  <div class="shapes liquid">
  </div>
  <div class="shapes liquid2">
 </div> -->
    <div class="block-1"></div>
  <div class="block-2"></div>

</section>

<section class="platform-section">
  <div class="container">
      <div class="block-3"></div>
      <div class="block-4"></div>
      <div class="heading">
      <div class="row">
        <div class="col-lg-12 order-lg-first">
          <h1>
            OneWater provides you access to 5 platforms all through one login.
          </h1>
        </div>
        <div class="col-lg-12 order-first">
          <div class="platform-intro-img">
            <img src="assets/img/landing/platform1.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
   
</section>
  <section class="platform-grid pt-0">
  <div class="platforms">
    <div class="block-7"></div>
    <div class="block-8"></div>
    <div class="container">
        <div class="platform">
            <div class="row align-items-center" >

              <div class="col-lg-6 order-lg-first">
                  <h2>
                      OneWater Academy
                  </h2>
                     <div class="about-platform">
                        <p>
                            State-of-the Art next generation learning platform to accelerate and advance knowledge sharing, learning, and capacity building in the water sector.
<br><br>

                            Reduce skill gaps, build succession plans, provide artificial intelligence based social learning to encourage learning in the flow of work and allow peers to learn from each other.

                            <br><br>
                            
                            
                            Communities of Practice which are timely and relevant and led by Subject Matter Experts around the globe.
                        </p>
                        <div class="mybtn">
                            <a routerLink="/home/learningacademy">
                              Go to OneWater Academy
                            </a>
                        </div>
                      </div>
              </div>
              <div class="col-lg-6 order-first">
                  <div class="platform-img">
                    <img src="assets/img/landing/academy.png" alt="">
                  </div>
                  </div>
            </div>

          </div>

          <div class="platform">
              <div class="row align-items-center">
                <div class="col-lg-6 order-first">
                <div class="platform-img">
                  <img src="assets/img/landing/mentor.png" alt="">
                </div>
                </div>
                <div class="col-lg-6 order-lg-first">
                    <h2>
                        OWXchange
                    </h2>
                       <div class="about-platform">
                          <p>
                              Build a culture of inclusion, support and development to increase employee engagement.
                              <br><br>

                              Foster an environment of peer-to-peer learning while building a water workforce of the future.
                              <br><br>
                              
                              Develop strategic value of the organization.
                              <br><br>
                              
                              Connect and nurture young water professionals.
                          </p>
                          <div class="mybtn">
                              <a routerLink="/home/owx">
                                Go to Mentor Mentee
                              </a>
                          </div>
                        </div>
                </div>
              </div>

            </div>

            <div class="platform">
                <div class="row align-items-center">

                  <div class="col-lg-6 order-lg-first">
                      <h2>
                          O-WOW
                      </h2>
                         <div class="about-platform">
                            <p>
                                The One W-A-T-E-R* Talks are intended to serve as a clearinghouse of water conversations which are engaging, challenging, inspiring and innovative as well as learning opportunities.
                            </p>
                            <div class="mybtn">
                                <a [routerLink]="['/o-wow']">
                                  Go to O-Wow
                                </a>
                            </div>
                          </div>
                  </div>
                  <div class="col-lg-6 order-first">
                      <div class="platform-img">
                        <img src="assets/img/landing/plat-video.png" alt="">
                      </div>
                      </div>
                </div>

            </div>


      <div class="platform">
        <div class="row align-items-center">
            <div class="col-lg-6 order-first">
                <div class="platform-img">
                  <img src="assets/img/landing/plat-blog.png" alt="">
                </div>
                </div>
          <div class="col-lg-6 order-lg-first">
              <h2>
                  OneWater Blog
              </h2>
                 <div class="about-platform">
                    <p>
                        The Academy will serve as a platform to share thought leadership on topics related to water from around the globe.

                        <br><br>
                        Trending posts in Blogs will serve for in-depth materials through courses, webinars and discussions to support greater knowledge development.
                    </p>
                    <div class="mybtn">
                        <a [routerLink]="['/onewaterblog']">
                          Go to OneWater Blog
                        </a>
                    </div>
                  </div>
          </div>

        </div>

      </div>

      <!-- <div class="platform">
          <div class="row">
              <div class="col-lg-6">
                  <h2>
                      OneWater Jobs
                     </div>
                     <div class="about-platform">
                        <p>
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat corporis, voluptates temporibus quos alias itaque eum nostrum eveniet, eaque, maiores voluptatem accusantium aut officiis asperiores qui facere dolores et assumenda? Sed asperiores nesciunt sequi autem exercitationem deleniti id nam, repudiandae error, atque ullam, impedit mollitia repellat adipisci reprehenderit sit nobis.
                        </p>
                        <div class="mybtn">
                            <a [routerLink]="['/onewaterjobs']">
                              Go to OneWater Jobs
                            </a>
                        </div>
                      </div>
              </div>
            <div class="col-lg-6">
            <div class="platform-img">
              <img src="assets/img/landing/plat-job.png" alt="">
            </div>
            </div>

          </div>

        </div> -->



    </div>
  </div>
</section>


<!-- <section class="about-section">
    <div class="block-4a">
    </div>
    <div class="block-4b">
      </div>
  <div class="container">

  <div class="row align-items-center">
    <div class="col-lg-6">
      <img src="assets/img/landing/about.png" alt="" class="about-img" />
    </div>
    <div class="col-lg-6">

      <div class="about-content">
          <h1 class="my-2">
              Vision
            </h1>
<p>
    The Vision of the One Water Academy (OWA) is to develop a One Water workforce for a One Water resilient world.
</p>
      </div>
    </div>
  </div>
</div>
</section>

<section class="about-section">
    <div class="block-4a">
    </div>
    <div class="block-4b">
      </div>
  <div class="container">

  <div class="row align-items-center">

    <div class="col-lg-6">

      <div class="about-content">
          <h1 class="my-2">
              Mission
            </h1>
<p>
    The mission of OWA is to provide a One Water knowledge platform to advance resilience through a multi-faceted, state-of-the-art digital learning platform to help accelerate and advance knowledge sharing, education, innovation, and capacity building in the water sector.
</p>
      </div>
    </div>
    <div class="col-lg-6">
        <img src="assets/img/landing/mission-img.png" alt="" class="about-img" />
      </div>
  </div>
</div>
</section> -->

<section class="features-section">
    <!-- <div class="block-fa1"></div>  -->
    <div class="block-fa2"></div>
    <!-- <div class="block-fb1"></div>  -->
    <div class="block-fb2"></div>
  <h1>
    Why should you choose our platform ?
    <br>
    Here's why.
  </h1>
<div class="container">
  <div class="features">
    <div class="row">
      <div class="col-md-4">
          <div class="feature-block">
            <div class="feature-icon">
                <i data-feather="download"></i>
            </div>
            <div class="feature-name">
              Simple.
            </div>
            <div class="feature-desc">
              <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae mollitia facilis dolor.</p>
            </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="feature-block">
            <div class="feature-icon">
                <i data-feather="eye"></i>
            </div>
            <div class="feature-name">
              Easy.
            </div>
            <div class="feature-desc">
              <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae mollitia facilis dolor.</p>
            </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="feature-block">
            <div class="feature-icon">
                <i data-feather="layout"></i>
            </div>
            <div class="feature-name">
              Efficient.
            </div>
            <div class="feature-desc">
              <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae mollitia facilis dolor.</p>
            </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="feature-block">
            <div class="feature-icon">
                <i data-feather="slack"></i>
            </div>
            <div class="feature-name">
              Robust.
            </div>
            <div class="feature-desc">
              <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae mollitia facilis dolor.</p>
            </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="feature-block">
            <div class="feature-icon">
                <i data-feather="list"></i>
            </div>
            <div class="feature-name">
              Secure.
            </div>
            <div class="feature-desc">
              <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae mollitia facilis dolor.</p>
            </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="feature-block">
            <div class="feature-icon">
                <i data-feather="image"></i>
            </div>
            <div class="feature-name">
              Fast.
            </div>
            <div class="feature-desc">
              <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae mollitia facilis dolor.</p>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
</section>
<!-- <img src="assets/img/white-wave.webp" alt="" class="white-wave"> -->
<section class="partners-section">

<h1>Our Partners</h1>
<div class="partners">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 col-6 text-center">
            <img src="assets/img/landing/logo-1.png" alt="">
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 col-6 text-center">
              <img src="assets/img/landing/logo-2.png" alt="">
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 col-6 text-center">
                <img src="assets/img/landing/logo-3.png" alt="">
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 col-6 text-center">
                  <img src="assets/img/landing/logo-4.png" alt="">
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 col-6 text-center">
                    <img src="assets/img/landing/logo-3.png" alt="">
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 col-6 text-center">
                      <img src="assets/img/landing/logo-2.png" alt="">
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 col-6 text-center">
                        <img src="assets/img/landing/logo-1.png" alt="">
                      </div>
                      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 col-6 text-center">
                          <img src="assets/img/landing/logo-4.png" alt="">
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 col-6 text-center">
                            <img src="assets/img/landing/logo-3.png" alt="">
                          </div>
                          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 col-6 text-center">
                              <img src="assets/img/landing/logo-2.png" alt="">
                            </div>
        </div>
  </div>

</div>
</section>
<section class="donation-section">
   <div class="donate-block"></div>
   <div class="donate-block-2"></div>
   <div class="donate-circle"></div>
   <div class="donate-circle-small"></div>
    <div class="container">
       <div class="heading"><h1>
         Donate to OneWater
       </h1></div>
       <h4>
        Your donation can help us to give OneWater for one world.
       </h4>
       <div class="donate-img">
          <img src="assets/img/landing/donate.png" alt="">
        </div>
        <div class="mybtn">
            <a [routerLink]="['/home/donate']">
              Donate
       </a>

</div>
    </div>

  </section>

<section class="call-to-action-section">
    <div class="block-5"></div>
    <div class="block-5a"></div>
    <div class="block-6"></div>
    <div class="block-6a"></div>
    <div class="container">
          <img src="assets/img/landing/platform.png" alt="" class="cta-img">

          <h1>
              Lorem ipsum dolor sit, amet consectetur adipisicing.
              <br>
              Get started now.
          </h1>
            <div class="mybtn">
                <a [routerLink]="['/signup']">
                  Signup
                </a>

    </div>

  </div>

    </section>
    <div class="newsletter-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 news-img-wrap">
                  <img src="assets/img/landing/newsletter.png" alt="" class="news-img">
                </div>
                <div class="col-lg-6">
                  <h2>
                    Subscribe to our newsletter
                  </h2>
                  <p>
                    Stay updated with all events and program of OneWater.
                    <br>
                    Subscribe to the newsletter now.
                  </p>
                  <div class="mybtn">
                    <a data-toggle="modal" data-target="#myModal">
                     Subscribe
                    </a>
                </div>
                </div>
              </div>
        </div>

      </div>


  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
        <div class="modal-head">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
          <div class="modal-body">

           <h2>Enter your email to get our newsletter every week!</h2>
           <img src="assets/img/landing/newsletter-modal.png
           " alt="">
           <form [formGroup]="form" >
           <input formControlName="name" class="vldform__textbox" type="text" placeholder="name" required>

           <input formControlName="email" class="vldform__textbox" type="email" placeholder="email" required>
           <button type="submit" (click)="subscribe()" class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#thanksmodal">Submit</button>
          </form>
          </div>

        </div>
      </div>
    </div>

      <!-- Modal -->
  <div class="modal fade" id="thanksmodal" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
      <div class="modal-head">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
        <div class="modal-body">
         <h2>Thankyou for subscribing.</h2>
         <img src="assets/img/icons/thankful.svg
         " alt="" style="width:35%; margin:auto;">
         <button class="btn btn-default" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
