<div class="cover-photo">
  <div class="wave"></div>
</div>

<section class="page-title">
  <div class="container">
    <h1>
      Meet our amazing team.
    </h1>
    <h3>
      The people who work at OneWater share the vision and values of our
      community.
    </h3>
  </div>
</section>

<section class="bod">
  <div class="block-5a"></div>
  <div class="block-6a"></div>
  <div class="block-6"></div>
  <div class="donate-circle"></div>
  <div class="donate-block-2"></div>
  <div class="donate-circle-small"></div>
  <div class="big-team">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-3 col-md-6">
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
              <div class="member-img">
                <img src="assets/img/team/hardeep.JPG" alt="" />
              </div>
              <h5>Hardeep Anand</h5>
              <p>
                Founder & Director, One Water Academy
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
              <div class="member-img">
                <img src="assets/img/team/amit.jpg" alt="" />
              </div>
              <h5>Amit Pramanik</h5>
              <p>
                Executive Director, One Water Academy
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
              <div class="member-img">
                <img src="assets/img/team/cindy.jpg" alt="" />
              </div>
              <h5>Cindy L. Wallis-Lage</h5>
              <p>
                Board of Directors, One Water Academy
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
              <div class="member-img">
                <img src="assets/img/team/eric.jpg" alt="" />
              </div>
              <h5>Eric Wilson</h5>
              <p>
                Board of Directors, One Water Academy
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-lg-3 col-md-6">
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
              <div class="member-img">
                <img src="assets/img/team/melissa.jpg" alt="" />
              </div>
              <h5>Melissa Meeker</h5>
              <p>
                Board of Directors, One Water Academy
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
              <div class="member-img">
                <img src="assets/img/team/ellis.jpg" alt="" />
              </div>
              <h5>Ellis Louise</h5>
              <p>
                Associate and Chartered Civil Engineer CEng (MICE)
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="outer-card">
            <div class="outer-overlay"></div>
            <div class="two-card">
              <div class="member-img">
                <img src="assets/img/team/sudhir.jpg" alt="" />
              </div>
              <h5>Sudhir Murthy</h5>
              <p>
                Senior Vice President of the International Water Association
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
