<div class="cover-photo">
  <div class="wave"></div>
</div>
<section class="page-title">
    <div class="container">
  <h1>
    Team
  </h1>
  </div>
</section>
<section class="section-intro">
  <div class="container">
      <h1>
          The people who work at OneWater share the vision and values of our community.
        </h1>

      <h3>
        Meet our amazing team.
      </h3>
  </div>

</section>
<section class="bod">
   <h1 class="head">Board of Directors</h1>
     <div class="big-team">
       <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-6">
                <div class="member-img">
                    <img src="https://spark.adobe.com/page/iu7QwNwiuuV10/images/47be6e75-7930-4446-9c1e-de66ab80cdad.jpg?asset_id=1d919edb-be3b-4c7f-a31e-fdb99e4277ed&img_etag=2d904162b1c810159577946348815809&size=2560" alt="">
                </div>
                
              </div>
              <div class="col-lg-6">
                <h2>Hardeep Anand</h2>
                <h4>
                   P.E., Founder - One Water Academy, Deputy Director, Miami-Dade Water & Sewer Department
                </h4>
              </div>
            </div>
            <div class="row align-items-center">
              
                <div class="col-lg-6">
                  <h2>Dr. Amit Pramanik</h2>
                  <h4>
                      Executive Director, One Water Academy
                  </h4>
                </div>
                <div class="col-lg-6">
                    <div class="member-img">
                        <img src="https://spark.adobe.com/page/iu7QwNwiuuV10/images/1cc4821a-1e58-4712-a258-68a2c364985e.jpg?asset_id=1b0dc32f-7d99-49de-b49b-3c254e7aacf8&img_etag=09f426a7c8915c8b5779c19b93a0c516&size=2560" alt="">
                    </div>
                    
                  </div>
              </div>
              <div class="row align-items-center">
                  <div class="col-lg-6">
                    <div class="member-img">
                        <img src="https://spark.adobe.com/page/iu7QwNwiuuV10/images/015d0ca6-01e9-4374-b030-240c236a127a.jpg?asset_id=c8067cab-f2d5-47ca-b6a5-0f059c34c5f1&img_etag=839eb403dd1cab220fe459ff4e009d09&size=3140" alt="">
                    </div>
                    
                  </div>
                  <div class="col-lg-6">
                    <h2>Melissa Meeker</h2>
                    <h4>
                        Director, Water Innovation Center, Gwinnett County Government
                    </h4>
                  </div>
                </div>
                <div class="row align-items-center">
              
                    <div class="col-lg-6">
                      <h2>Rebekah Eggers</h2>
                      <h4>
                          Industry Leader, Energy, Environment & Utilities, IBM | Watson Internet of Things
                      </h4>
                    </div>
                    <div class="col-lg-6">
                        <div class="member-img">
                            <img src="https://spark.adobe.com/page/iu7QwNwiuuV10/images/826017ea-72e9-47ea-af2f-acd8dd1ccd7f.png?asset_id=d734c781-2ab0-4728-ab2b-375f8e496354&img_etag=844fe55c5a532b87c6e12ecd794f4f01&size=3823" alt="">
                        </div>
                        
                      </div>
                  </div>
       </div>
      
     </div>
</section>
<section class="leaders">
  <div class="container">
  <h1 class="head">
    Leaders
  </h1>

  <div class="small-team">
    <div class="row">
      <div class="col-lg-4">
        <div class="member-img">
          <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
        </div>
        <h2>
          John Legend
        </h2>
        <h4>
          Lorem ipsum dolor sit amet.
        </h4>
      </div>
      <div class="col-lg-4">
          <div class="member-img">
            <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
          </div>
          <h2>
            John Legend
          </h2>
          <h4>
            Lorem ipsum dolor sit amet.
          </h4>
        </div>
        <div class="col-lg-4">
            <div class="member-img">
              <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
            </div>
            <h2>
              John Legend
            </h2>
            <h4>
              Lorem ipsum dolor sit amet.
            </h4>
          </div>
    </div>
  </div>
</div>
</section>