@import '../ow-academy/ow-academy.component.scss';

.hero-bg{
    transform: rotateY(180deg);
}

.hero-section{
    background: #fff;
    .heading {
        h1{
            text-align: right;
            font-size: 3.5rem;
        }
        p{
            float: right;
            text-align: right;
            max-width: 420px;
        }
    }
}

.feature-card {
    border: 2px solid #fff;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.owx-hero-img{
    transform: rotateY(180deg);
    width: 75%;
    position: relative;
    z-index: 10;
}


.vision-section{
    background: linear-gradient(180deg, #092b86 2%, #17399741 71%, #2044a4 ), url(/assets/img/landing/owx-vision-bg.png);
    background-size: cover;
    background-position: center;
}

.features-section {
    background: linear-gradient(180deg, #2044a4  2%, #173997b5 80%, #092b86fa), url(/assets/img/landing/owx-feature-bg.jpg);
    background-position: top center;
    background-position: top left;
    background-size: cover;
}

/*bg blocks*/
.block-2{
    background: linear-gradient(90deg, #5b98ff 1%, #125da85e 100%);
    display: none;
}
.block-7{
    background: linear-gradient(to left, #0080ff5e 69%, #ffffff00 100%);
}



@media all and (max-width:991px){
    .hero-section{
        background: #092b86;
    }
    .block-2 {
    width: 600px;
    height: 600px;
    transform: rotate(45deg);
    left: -18%;
    display: block;
    opacity: 0.5;
    }
    .block-7{
        display: none;
    }
    .owx-hero-img,.owx-about-img{
        max-width: 500px;
        margin:auto;
    }
    .owx-hero-img{
        margin-top: 10vh;
    }
    .about-section{
        .block-2{
            top: auto;
            left: -48%;
    }
}


.features-section .col-md-3 {
    padding: 0 0.5em;
}



    .hero-section{
        .heading {
            h1{
                text-align: center;
            }
            p{
                float: none;
                text-align: center;
                max-width: 500px;
            }
        }
    }
}

@media all and (max-width:520px){
    .hero-section {
    
    .heading{
        h1{
            font-size: 2.8rem;
            letter-spacing: -0.2rem;
        }
    }
    }
      
    .block-2{
        width: 534px;
    height: 610px;
    }
    .about-section .block-2 {
      width: 400px;
      height: 400px;
      top: auto;
      border-radius: 10%;
      left: -75%;
      animation: none;
    }
    .feature-middle{
        transform: translateY(0);
    }
    .feature-card{
        margin: 1rem 0;
    }
}

