<section class="hero-section d-flex align-items-center">
  <div class="hero-bg"></div>
  <div class="container">
    <div class="row align-items-center ">
    
      <div class="col-lg-6 order-first">
        <img src="assets/img/landing/owx-hero-img.png" alt="" class="owx-hero-img">
        </div>
        <div class="col-lg-6 order-lg-first ">
          <div class="heading">
            <h1>
                OWXchange
            </h1>
            <p>
             Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus nihil omnis laboriosam sequi, saepe neque veritatis exercitationem eius rem, accusamus placeat vel esse ducimus.
            </p>
          </div>
        </div>
    </div>
  </div>

    <!-- <div class="block-1"></div>
  <div class="block-2"></div> -->

</section>

<section class="about-section">
  <div class="container">
  <div class="row align-items-center">
   
    <div class="col-lg-6">
      <h2>
        About OWXchange
      </h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex error saepe beatae, inventore natus, alias at dicta ipsum maiores quo ullam rem dolor delectus quibusdam commodi labore consequatur. Ratione autem obcaecati repellendus doloribus temporibus, blanditiis, tempore accusamus quis pariatur accusantium facilis neque quas voluptates nostrum officia fugit, tenetur minus tempora dolores deserunt provident! Perferendis aliquid aperiam fuga autem illum esse.
      </p>
    </div>
    <div class="col-lg-6">
      <img src="assets/img/landing/owx-about-img.png" alt="" class="owx-about-img">
    </div>
  </div>
</div>
</section>


<div class="curved-border">
</div>
<div class="vision-section">
  <div class="container">
     <h1 class="text-center">Our Vision</h1>
     <div class="row align-items-center">
       <div class="col-md-6">
        <img src="assets/img/landing/owx-vision-img.png" alt="" class="vision-img">
       </div>
       <div class="col-md-6"> <h4 class="content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis exercitationem error provident quis repellat dolorum consectetur eos minus, praesentium eaque.
      </h4>
    
      <h4 class="content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis exercitationem error provident quis repellat dolorum consectetur eos minus, praesentium eaque.
      </h4></div>
     </div>
    
    
  </div>
</div>
<section class="features-section">
 
  <div class="container">
    <h1 class="text-center">Features</h1>
    <div class="row align-items-center justify-content-center">
      <div class="col-md-3">
        </div>
      <div class="col-md-3">
        <div class="feature-card">
          <h3>
            Feature 1
          </h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio, officia!
          </p>
        </div>
        </div>
        <div class="col-md-3">
          <div class="feature-card">
            <h3>
              Feature 1
            </h3>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio, officia!
            </p>
          </div>
          </div>
          <div class="col-md-3">
          </div>
    </div>
    <div class="row align-items-center ">
      
      <div class="col-md-3">
        <div class="feature-card feature-middle">
          <h3>
            Feature 1
          </h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio, officia!
          </p>
        </div>
        </div>
        <div class="col-md-3">
          <div class="feature-card">
            <h3>
              Feature 1
            </h3>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio, officia!
            </p>
          </div>
          </div>
          <div class="col-md-3">
            <div class="feature-card">
              <h3>
                Feature 1
              </h3>
              <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio, officia!
              </p>
            </div>
            </div>
            <div class="col-md-3">
              <div class="feature-card feature-middle">
                <h3>
                  Feature 1
                </h3>
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio, officia!
                </p>
              </div>
              </div>
      <!-- <div class="col-md-4 text-center">
        <img src="assets/img/landing/academy-feature-img.png" alt="" class="drop-img">
      </div> -->
     
    </div>
  
  
  </div>
  </section>
<div class="curved-border curved-border-inv"></div>
<section class="get-started">
  <div class="container">

    <div class="row align-items-center">
      <div class="col-lg-6 text-center">
        <img src="assets/img/landing/academy-getstarted-img.png" alt="" class="getstarted-img">
      </div>
      <div class="col-lg-6 text-center">
        <h2>
          Get started with OWXchange
        </h2>
        <p>
         Access the latest courses from best instructors in the water sector.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima dignissimos ipsum nulla quibusdam fugit tenetur mollitia maxime impedit debitis reiciendis?
        </p>
        <button class="btn" [routerLink]="['/signup']">
         signup
        </button>

        <p class="login-text">
          already a member? <a href="https://onewater-tenant-2.auth0.com/samlp/51lZrlOtuPf5uwe4WP0P3EbY3VwuTz7D" target="_blank"> login </a>
        </p>
      </div>
    </div>
   

  </div>



</section>