@media screen and (min-width: 1200px) {
  .masonry-item {
    width: 33.3%;
  }
}
@media screen and (max-width: 1200px) {
  .masonry-item {
    width: 33.3%;
  }
}
@media screen and (max-width: 768px) {
  .masonry-item {
    width: 50%;
  }
}
@media screen and (max-width: 420px) {
  .masonry-item {
    width: 100%;
  }
}
h2 {
  text-align: center;
  margin: 50px 0;
}
// #sidebar.affix{
//   position: fixed;
//   right: 15px;
//   top: 80px;
//   width: 320px;
// }
// #sidebar{
//   transition: linear 10s all;
// }
// .wrapper{
//   position: relative;
//   padding: 0;
//   display: flex;
// }
// .left-section{
//   width: calc(100% - 320px);
// }
// .right-section{
//   width: 320px;
//   position: absolute;
//   right: 15px;
// }
// .abs{
//   position: absolute !important;
//   bottom: 0 !important;
//   right: 15px !important;
// }
.cover-photo {
  height: 75vh;
  position: relative;
  background: linear-gradient(
      180deg,
      rgba(0, 31, 204, 0.82) 20%,
      rgba(255, 255, 255, 0.68) 100%
    ),
    url(/assets/img/home-bg.jpg);
}
.banner-img {
  width: 95%;
  margin: auto;
}
.author-btn {
  text-align: center;
  margin: 30px 0 70px;
  z-index: 10;
  position: relative;

  .reg-text {
    padding: 75px 0;
  }
  background: #d5e7f2;
  h3 {
    text-align: center;
    margin: 2rem auto;
    color: #000c61;
    font-weight: 600;
  }
  a {
    text-align: center;
    border-radius: 3px;
    color: #000c61;
    padding: 8px 16px;
    font-weight: 600;
    font-size: 1.1rem;
    margin: 0 1rem;
    background: #f9f9f9;
    border-radius: 5px;
    box-shadow: none;
    transition: all 0.3s ease-in-out;
  }
  a:hover {
    color: #fff;
    background: #246df8;
  }
  img {
    width: auto;
    max-height: 220px;
  }
}

/*----------------------------------TOP BLOGS STYLING--------------------------------*/

.landing-blogs {
  margin: 1rem auto;
  max-width: 500px;
  .carousel-inner {
    margin-top: 20vh;
    box-shadow: 0 2px 6px 0 rgba(110, 110, 110, 0.2);
    border-radius: 15px;
  }

  .carousel-control-next,
  .carousel-control-prev {
    top: 90%;
  }
  .carousel-control-prev {
    /* right: 10px; */
    left: 70%;
    transform: rotate(180deg);
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-image: url(/assets/img/icons/next1.svg);
  }
}

/*-------------------TOP BLOGS CARD--------------------*/
.landing-card {
  padding: 1rem;
  height: 70vh;

  .landing-blog-img {
    height: 60%;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .blog-caption {
    padding: 1rem;

    .tag {
      text-align: center;
      font-weight: 500;
      font-size: 1rem;
      letter-spacing: -0.5px;
      margin-bottom: 1rem;
    }
    h3 {
      /*-------------LANDING BLOG HEADING-----------*/
      font-weight: 800;
      margin-top:0;
    }
  }
}

/*-----------------------main container blog cards-------------------------------*/

.blog-img {
  position: relative;
  overflow: hidden;

  img {
    object-position: center;
    object-fit: cover;
    transition: 0.3s all ease-out;
  }
}

/*--------------blog cards styles---------------*/
/*-----gray cards styles-----------*/
.blog-card {
  overflow: hidden;
  background-color: #000c61;
  border-radius: 15px;
  position: relative;
  box-shadow: 0px 25px 35px -25px #97a3b8;
  margin: 0 0.7rem 1.3rem;
  .blog-caption {
    padding: 1rem;
    z-index: 10;
    position: relative;

    h4 {
      font-weight: 700;
      color: #fff;
      margin-top:0;
      transition: 0.2s all ease-in-out;
    }
  }
  a:hover h4 {
    color: #6675db;
  }
  .author {
    margin: 1rem 0;
    text-align: center;
    img {
      width: 100%;
      margin: auto;
      height: 45px;
      width: 45px;
      border-radius: 50%;
      object-position: center;
    }
    p {
      font-size: 0.7rem;
      font-weight: 600;
      color: white;
    }
  }

  .card-btn {
    .col-6:nth-child(2) {
      text-align: right !important;
    }
  }

  .like-btn,
  .read-mins {
    color: white;
    font-size: 0.8rem;
    font-weight: 500;
  }

  .like-btn {
    i {
      color: red;
    }
    i:nth-child(2) {
      color: #222;
      margin-left: 7;
    }
  }
}

.blog-card:hover {
  box-shadow: 0px 10px 30px -10px rgba(151, 163, 184, 0.5);
}

.blog-card:hover .blog-img img {
  transform: scale(1.3);
}

.featured-post {
  padding: 2rem 0;
  .outer-card {
    padding: 0.35rem;
  }
  .two-card {
    padding: 0.4rem;
    border-radius: 7px;
    img {
      border-radius: 5px;
    }
    .blog-caption {
      padding: 0.5rem;

      .read,
      .likes {
        font-weight: 500;
      }
    }
  }
}

.top-authors {
  background: white;

  .top-auth-img {
    text-align: center;
    z-index: 5;
    position: relative;
    img {
      transition: 0.3s all ease-in-out;
      width: 140px;
      height: 140px;
      object-fit: cover;
      border-radius: 50%;
      padding: 0.5rem;
      border: 2px #444 solid;
      margin: 1rem auto 2rem;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }

    img:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    }
  }
  .author-name {
    text-align: center;
    font-weight: 700;
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 768px) {
  .landing-blogs .carousel-inner {
    margin-top: 0;
  }
  .landing-card{
    height: 55vh;
  }
}

@media screen and (max-width: 520px) {
  h2 {
    margin: 20px 0;
  }
  .main-head {
    margin-top: 3rem !important;
  }
  .main {
    padding: 1rem;
  }
  .masonry-item {
    width: 100%;
    margin: auto;
  }
  
}

